<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="{{ clr_version }}" sku=".NETFramework,Version=v{{ net_version }}" />
  </startup>
  <runtime>
    <AppDomainManagerType value="{{ appdomain_name }}" />
    <AppDomainManagerAssembly value="{{ assembly_name }}, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </runtime>
</configuration>
